[2021-07-15 20:38] jmbowman opened #1 "Replace django-fernet-fields dependency"
We use the [django-fernet-fields](https://github.com/orcasgit/django-fernet-fields) package in edx/edx-enterprise, edx/edx-enterprise-data, edx/edx-platform, edx/edx-val, edx/event-routing-backends, and edx/video-encode-manager, but it was abandoned in January; details and a potentially upcoming fork can be found in https://github.com/orcasgit/django-fernet-fields/issues/28 .  Please follow the gu

[2021-07-15 20:49] jmbowman opened #2 "Update or replace rest-condition dependency"
We use the [rest-condition](https://github.com/caxap/rest_condition) package in edx/completion, edx/course-discovery, edx/credentials, edx/demographics, edx/ecommerce, edx/edx-analytics-dashboard, edx/edx-analytics-data-api, edx/edx-drf-extensions, edx/edx-enterprise, edx/edx-enterprise-data, edx/edx-notes-api, edx/edx-organizations, edx/edx-platform, edx/edx-proctoring, edx/edx-rbac, edx/edx-val,

[2021-07-26 14:51] Jawayria opened #3 "Update or replace django-cookies-samesite"
We use the  package in [django-cookies-samesite](https://github.com/jotes/django-cookies-samesite) in edx/edx-platform. But it hasn't yet added support for Django 3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-26 14:57] Jawayria opened #4 "Update or replace django-extra-views"
We use the package in [django-extra-views](https://github.com/AndrewIngram/django-extra-views) in edx/ecommerce. But it hasn't yet added support for Django 3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-26 15:04] Jawayria opened #5 "Update or replace django-method-override"
We use the package in [django-method-override](https://gitlab.com/localmed/django-method-override) in edx/edx-platform. This package is rarely updated and it hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-26 15:06] Jawayria opened #6 "Update or replace django-modelcluster"
We use the package in [django-modelcluster](https://github.com/wagtail/django-modelcluster) in edx/portal-designer. It hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-26 15:09] Jawayria opened #7 "Update or replace django-mptt"
We use the package in [django-mptt](https://github.com/django-mptt/django-mptt) in edx/django-wiki and edx/edx-platform. It hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-26 15:12] Jawayria opened #8 "Update or replace django-oauth-toolkit"
We use the package [django-oauth-toolkit](https://github.com/jazzband/django-oauth-toolkit) in edx/edx-platform and edx/video-encode-manager. It hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-26 15:16] Jawayria opened #9 "Update or replace django-pipeline"
We use the package [django-pipeline](https://github.com/jazzband/django-pipeline) in edx/edx-platform. It hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-26 15:19] Jawayria opened #10 "Update or replace django-sekizai"
We use the package [django-sekizai](https://github.com/ojii/django-sekizai) in edx/django-wiki and edx/edx-platform. It hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-26 15:24] Jawayria opened #11 "Update or replace django-treebeard"
We use the package [django-treebeard](https://github.com/django-treebeard/django-treebeard) in edx/ecommerce, edx/portal-designer. It hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-26 15:40] Jawayria opened #12 "Update or replace djangorestframework-csv"
We use the package [djangorestframework-csv](https://github.com/mjumbewu/django-rest-framework-csv) in edx/course-discovery, edx/ecommerce, edx/edx-analytics-dashboard, edx/edx-analytics-data-api, edx/license-manager. It hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the p

[2021-07-26 15:44] Jawayria opened #13 "Update or replace drf-jwt"
We use the package [drf-jwt](https://github.com/Styria-Digital/django-rest-framework-jwt) in edx/completion, edx/course-discovery, edx/credentials, edx/demographics, edx/ecommerce, edx/edx-analytics-dashboard, edx/edx-analytics-data-api, edx/edx-drf-extensions, edx/edx-enterprise, edx/edx-enterprise-data, edx/edx-notes-api, edx/edx-organizations, edx/edx-platform, edx/edx-proctoring, edx/edx-rbac,

[2021-07-26 15:47] Jawayria opened #14 "Update or replace factory-boy"
We use the package [factory-boy](https://github.com/FactoryBoy/factory_boy) in edx/blockstore, edx/completion, edx/course-discovery, edx/credentials, edx/demographics, edx/ecommerce, edx/edx-drf-extensions, edx/edx-enterprise, edx/edx-enterprise-data, edx/edx-notes-api, edx/edx-ora2, edx/edx-platform, edx/edx-submissions, edx/enterprise-catalog, edx/event-routing-backends, edx/license-manager, edx

[2021-07-26 15:52] Jawayria opened #15 "Update or replace newrelic"
We use the package [newrelic](https://github.com/newrelic/newrelic-python-agent) in edx/blockstore, edx/completion, edx/course-discovery, edx/credentials, edx/demographics, edx/django-config-models, edx/django-splash, edx/ecommerce, edx/ecommerce-worker, edx/edx-analytics-dashboard, edx/edx-analytics-data-api, edx/edx-bulk-grades, edx/edx-django-utils, edx/edx-drf-extensions, edx/edx-e2e-tests, ed

[2021-07-26 16:04] Jawayria opened #16 "Update or replace djangorestframework-datatables"
We use the package [djangorestframework-datatables](https://github.com/izimobil/django-rest-framework-datatables) in edx/ecommerce. It hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-26 16:06] Jawayria opened #17 "Update or replace django-rest-swagger"
We use the package [django-rest-swagger](https://github.com/marcgibbons/django-rest-swagger) in edx/course-discovery, edx/credentials, edx/demographics, edx/django-user-tasks, edx/ecommerce, edx/edx-analytics-data-api, edx/edx-notes-api, edx/enterprise-catalog, edx/license-manager, edx/portal-designer, edx/video-encode-manager. It hasn't yet added support for Django3.2. Please follow the guidance

[2021-07-26 16:30] Jawayria opened #18 "Update or replace django-taggit-serializer"
We use the package [django-taggit-serializer](https://github.com/glemmaPaul/django-taggit-serializer) in edx/course-discovery. This package was last released in 2018 and it hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 up

[2021-07-26 16:35] Jawayria opened #19 "Update or replace django-jenkins"
We use the package [django-jenkins](https://github.com/kmmbvnr/django-jenkins) in edx/openedxstats. This package was last released in 2016 and last commit was in 2017. It hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgr

[2021-07-26 16:48] Jawayria opened #20 "Update or replace django-autocomplete-light"
We use the package [django-autocomplete-light](https://github.com/yourlabs/django-autocomplete-light) in edx/course-discovery. Some progress has been made for Django 3.2 but It doesn't officially support Django3.2 yet. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django

[2021-07-26 16:51] Jawayria opened #21 "Update or replace django-environ"
We use the package [django-environ](https://github.com/joke2k/django-environ) in edx/blockstore. This package was last released in 2018 and it hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-26 16:54] Jawayria opened #22 "Update or replace django-dotenv"
We use the package [django-dotenv ](https://github.com/jpadilla/django-dotenv)in edx/openedxstats. This package was last released in 2017 and it hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-27 11:20] Jawayria opened #23 "Update or replace django-braces"
We use the package [django-braces](https://github.com/brack3t/django-braces) in edx/edx-analytics-dashboard. This package was last released in 2019 and it hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-27 11:24] Jawayria opened #24 "Update or replace django-elasticsearch-dsl-drf"
We use the package [django-elasticsearch-dsl-drf](https://github.com/barseghyanartur/django-elasticsearch-dsl-drf) in edx/course-discovery, edx/edx-notes-api. It hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-27 11:26] Jawayria opened #25 "Update or replace sorl-thumbnail"
We use the package [sorl-thumbnail](https://github.com/jazzband/sorl-thumbnail) in edx/django-wiki, edx/ecommerce, edx/edx-platform. It hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-27 11:29] Jawayria opened #26 "Update or replace django-dynamic-fixture"
We use the package [django-dynamic-fixture](https://github.com/paulocheque/django-dynamic-fixture) in edx/blockstore, edx/demographics, edx/edx-analytics-dashboard, edx/edx-analytics-data-api, edx/edx-django-sites-extensions, edx/enterprise-catalog, edx/license-manager, edx/portal-designer, edx/registrar, edx/video-encode-manager. It hasn't yet added support for Django3.2. Please follow the guidan

[2021-07-27 11:34] Jawayria opened #27 "Update or replace django-hijack"
We use the package [django-hijack](https://github.com/django-hijack/django-hijack) in edx/credentials. It hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-27 12:50] Jawayria opened #28 "Update or replace django-fsm"
We use the package [django-fsm](https://github.com/kmmbvnr/django-fsm) in edx/course-discovery. It hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-27 12:57] Jawayria opened #29 "Update or replace enmerkar"
We use the package [enmerkar](https://github.com/Zegocover/enmerkar) in edx/edx-platform, edx/enmerkar-underscore. This package was last released in 2019 and it hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-27 13:04] Jawayria opened #30 "Update or replace djangorestframework-expander"
We use the package [djangorestframework-expander](https://github.com/silverlogic/djangorestframework-expander) in edx/blockstore. It hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-27 13:15] Jawayria opened #31 "Replace model-mommy dependency"
We use the package [model-mommy](https://github.com/vandersonmota/model_mommy) in edx/openedxstats. This package is no longer maintained and was replaced by 'model-bakery'. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-27 13:45] Jawayria opened #32 "Update or replace djangorestframework-xml"
We use the package [djangorestframework-xml](https://github.com/jpadilla/django-rest-framework-xml) in edx/course-discovery, edx/edx-enterprise, edx/edx-platform, edx/enterprise-catalog. It hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open

[2021-07-27 13:49] Jawayria opened #33 "Update or replace django-parler"
We use the package [django-parler](https://github.com/edoburu/django-parler) in edx/course-discovery. It hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-27 13:57] Jawayria opened #34 "Update or replace jsonfield2"
We use the package [jsonfield2](https://github.com/rpkilby/jsonfield2) in edx/ecommerce, edx/edx-bulk-grades, edx/edx-celeryutils, edx/edx-enterprise, edx/edx-ora2, edx/edx-platform, edx/edx-proctoring, edx/edx-submissions, edx/edx-zoom, edx/enterprise-catalog, edx/event-routing-backends, edx/license-manager, edx/staff_graded-xblock, edx/super-csv, edx/xblock-lti-consumer. It hasn't yet added supp

[2021-07-27 14:01] Jawayria opened #35 "Update or replace django-model-utils"
We use the package [django-model-utils](https://github.com/jazzband/django-model-utils) in edx/completion, edx/course-discovery, edx/django-user-tasks, edx/ecommerce, edx/edx-analytics-dashboard, edx/edx-analytics-data-api, edx/edx-bulk-grades, edx/edx-celeryutils, edx/edx-cookiecutters, edx/edx-enterprise, edx/edx-enterprise-data, edx/edx-milestones, edx/edx-notifications, edx/edx-ora2, edx/edx-o

[2021-07-27 14:07] Jawayria opened #36 "Update or replace django-threadlocals"
We use the package [django-threadlocals](https://github.com/nebstrebor/django-threadlocals) in edx/ecommerce. It hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-27 14:09] Jawayria opened #37 "Update or replace drf-yasg"
We use the package [drf-yasg](https://github.com/axnsan12/drf-yasg) in edx/api-doc-tools, edx/blockstore, edx/edx-platform, edx/registrar. It hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-27 14:12] Jawayria opened #38 "Update or replace django-taggit-autosuggest"
We use the package [django-taggit-autosuggest](https://bitbucket.org/fabian/django-taggit-autosuggest) in edx/course-discovery. This package isn't maintained anymore and it hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 up

[2021-07-27 14:13] Jawayria opened #39 "Update or replace django-classy-tags"
We use the package [django-classy-tags](https://github.com/ojii/django-classy-tags) in edx/django-wiki, edx/edx-platform. It hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-27 14:17] Jawayria opened #40 "Replace django-ratelimit-backend"
We use the package [django-ratelimit-backend](https://github.com/brutasse/django-ratelimit-backend) in edx/edx-platform. This package isn't maintained anymore and edx will deprecate it. It doesn't have support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX D

[2021-07-27 14:22] Jawayria opened #41 "Update or replace django-ratelimit"
We use the package [django-ratelimit](https://github.com/jsocol/django-ratelimit) in edx/credentials, edx/edx-platform. It hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-27 14:24] Jawayria opened #42 "Update or replace jsonfield"
We use the package [jsonfield](https://github.com/rpkilby/jsonfield) in edx/course-discovery. It hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-27 14:41] Jawayria opened #43 "Update or replace django-elasticsearch-debug-toolbar"
We use the package [django-elasticsearch-debug-toolbar](https://github.com/Benoss/django-elasticsearch-debug-toolbar) in edx/course-discovery. It hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-27 14:44] Jawayria opened #44 "Update or replace django-storages"
We use the package [django-storages](https://github.com/jschneier/django-storages) in edx/blockstore, edx/course-discovery, edx/credentials, edx/edx-analytics-data-api, edx/edx-platform, edx/edx-val, edx/portal-designer, edx/registrar, edx/xqueue. It hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated

[2021-07-27 14:48] Jawayria opened #45 "Update or replace django-appconf"
We use the package [django-appconf](https://github.com/django-compressor/django-appconf) in edx/course-discovery, edx/credentials, edx/ecommerce, edx/edx-analytics-dashboard, edx/edx-platform, edx/staff_graded-xblock. The last commit in this package's repo was made in 2020 and it hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/page

[2021-07-27 14:52] Jawayria opened #46 "Update or replace django-storage-swift"
We use the package [django-storage-swift](https://github.com/dennisv/django-storage-swift) in edx/edx-platform. The last released for this package was made in 2018 and it hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgr

[2021-07-27 14:57] Jawayria opened #47 "Update or replace jasmine-core"
We use the package [jasmine-core](https://github.com/jasmine/jasmine) in edx/edx-enterprise. It is a testing framework for Javascript and it hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-27 15:04] Jawayria opened #48 "Update or replace algoliasearch-django"
We use the package [algoliasearch-django](https://github.com/algolia/algoliasearch-django) in edx/course-discovery. It hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-27 15:11] Jawayria opened #49 "Update or replace drf-dynamic-fields"
We use the package [drf-dynamic-fields](https://github.com/dbrgn/drf-dynamic-fields) in edx/course-discovery. The last commit to this package's repository was made in 2019 and it hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django

[2021-07-27 15:13] Jawayria opened #50 "Update or replace django-webtest"
We use the package [django-webtest](https://github.com/django-webtest/django-webtest) in edx/ecommerce. It hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-27 15:18] Jawayria opened #51 "Update or replace pinax-announcements"
We use the package [pinax-announcements](https://github.com/pinax/pinax-announcements) in edx/edx-analytics-dashboard. It hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-27 15:20] Jawayria opened #52 "Update or replace django-nine"
We use the package [django-nine](https://github.com/barseghyanartur/django-nine) in edx/course-discovery, edx/edx-notes-api. It hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-27 15:36] Jawayria opened #53 "Update or replace django-elasticsearch-dsl"
We use the package [django-elasticsearch-dsl](https://github.com/sabricot/django-elasticsearch-dsl) in edx/course-discovery, edx/edx-notes-api. It hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-27 15:44] Jawayria opened #54 "Replace django-datetime-widget"
We use the package [django-datetime-widget](https://pypi.org/project/django-datetime-widget/#description) in edx/openedxstats. This package has been replaced with django-datetime-widget2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-27 15:47] Jawayria opened #55 "Update or replace pytest-django-ordering"
We use the package [pytest-django-ordering](https://github.com/rlucioni/pytest-django-ordering) in edx/course-discovery, edx/ecommerce. It hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-27 15:50] Jawayria opened #56 "Update or replace authlib"
We use the package [authlib](https://github.com/lepture/authlib) in edx/course-discovery, edx/tubular. This is a python library but running tests against Django and flask. It seems like it hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open e

[2021-07-27 15:54] Jawayria opened #57 "Update or replace django-haystack"
We use the package [django-haystack](https://github.com/django-haystack/django-haystack) in edx/ecommerce. It hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-27 15:58] Jawayria opened #58 "Update or replace dry-rest-permissions"
We use the package [dry-rest-permissions](https://github.com/Helioscene/dry-rest-permissions) in edx/course-discovery. Last commit to this package's repository was made in 2018 and it hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Dj

[2021-07-27 16:01] Jawayria opened #59 "Update or replace django-sortedm2m"
We use the package [django-sortedm2m](https://github.com/jazzband/django-sortedm2m) in edx/course-discovery, edx/credentials. It hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-27 16:03] Jawayria opened #60 "Update or replace drf-nested-routers"
We use the package [drf-nested-routers](https://github.com/alanjds/drf-nested-routers) in edx/blockstore, edx/license-manager. It hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-27 16:06] Jawayria opened #61 "Update or replace django-pdb"
We use the package [django-pdb](https://github.com/tomchristie/django-pdb) in edx/ubcpi. Last commit to this package's repository was made in 2018 and it hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-27 16:14] Jawayria opened #62 "Update or replace whitenoise"
We use the package [whitenoise](https://github.com/evansd/whitenoise) in edx/openedxstats. It hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-27 16:16] Jawayria opened #63 "Update or replace django-soapbox"
We use the package [django-soapbox](https://github.com/ubernostrum/django-soapbox) in edx/edx-analytics-dashboard. It hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-27 16:19] Jawayria opened #64 "Update or replace django-require"
We use the package [django-require](https://github.com/etianen/django-require) in edx/edx-platform. This package was last released in 2016 and it hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

with `django31` tes

[2021-07-27 16:24] Jawayria opened #65 "Update or replace zappa"
We use the package [zappa](https://github.com/Miserlou/Zappa) in edx/clamps. It hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-27 16:26] Jawayria opened #66 "Update or replace django-sphinx-autodoc"
We use the package [django-sphinx-autodoc](https://github.com/Fandekasp/django-sphinx-autodoc) in edx/ease.This package was last released in 2011 and it hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-27 16:28] Jawayria opened #67 "Update or replace django-widget-tweaks"
We use the package [django-widget-tweaks](https://github.com/jazzband/django-widget-tweaks) in edx/ecommerce. It hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-27 16:30] Jawayria opened #68 "Update or replace django-nose"
We use the package [django-nose](https://github.com/jazzband/django-nose) in edx/ubcpi, edx/xblock-in-video-quiz. It hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-27 16:34] Jawayria opened #69 "Update or replace edx-jsme"
We use the package [edx-jsme](https://github.com/jazkarta/edx-jsme) in edx/edx-platform. Last commit to this package's repo was made in 2017 and it hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-27 16:36] Jawayria opened #70 "Update or replace edx-proctoring-proctortrack"
We use the package [edx-proctoring-proctortrack](https://github.com/joshivj/edx-proctoring-proctortrack) in edx/edx-platform. It hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-27 16:38] Jawayria opened #71 "Update or replace edx-sga"
We use the package [edx-sga](https://github.com/mitodl/edx-sga) in edx/edx-platform. It hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-27 16:44] Jawayria opened #72 "Replace rate-xblock dependency"
We use the package [rate-xblock](https://github.com/pmitros/RateXBlock) in edx/edx-platform. This package is obsolete and deprecated. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-27 16:47] Jawayria opened #73 "Update or replace xblock-poll"
We use the package [xblock-poll](https://github.com/open-craft/xblock-poll) in edx/edx-platform. It hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-27 16:50] Jawayria opened #74 "Update or replace django-dynamic-filenames"
We use the package [django-dynamic-filenames](https://github.com/codingjoe/django-dynamic-filenames) in edx/course-discovery. No recent activity was observed in this package's repository since 2019 and it hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this pose

[2021-07-27 16:53] Jawayria opened #75 "Update or replace django-braces"
We use the package [django-braces](https://github.com/brack3t/django-braces) in edx/edx-analytics-dashboard. It hasn't yet added support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-27 16:55] Jawayria opened #76 "Update or replace mock-django"
We use the package [mock-django](https://github.com/dcramer/mock-django) in edx/ecommerce. This package isn't maintained now and it doesn't have support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-27 16:58] Jawayria opened #77 "Update or replace django-debug-panel"
We use the package [django-debug-panel](https://github.com/recamshak/django-debug-panel) in edx/ubcpi. This package isn't maintained now and it doesn't have support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-27 17:20] #75 closed

[2021-07-28 15:58] Jawayria opened #78 "Update or replace django-solo"
We use the package [django-solo](https://github.com/lazybird/django-solo) in edx/course-discovery, edx/ecommerce, edx/taxonomy-connector. It doesn't have support for Django3.2. Please follow the guidance in https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies to resolve the problem this poses for the Open edX Django 3.2 upgrade.

[2021-07-29 16:07] elvinquero commented on #7
Hi there! I was looking forward to work in this. I realized django-mptt is unmaintained and they recommend using the django-treebeard library that has already support for Django 3.2. I will give it a look.

[2021-07-30 18:24] natabene commented on #7
@elvinquero Thank you for reaching out, I highly appreciate your interest and help with this. I have assigned this task to you. Please feel free to open a PR once you are ready, I will take care of it from there on.

[2021-07-30 19:13] jmbowman commented on #7
Some context that might be useful - Open edX forked and maintains a rather old version of django-wiki - https://github.com/edx/django-wiki .  It's diverged enough from upstream that essentially we'll never be going back to an official django-wiki release, but at the same time is a minor enough feature of the platform that we're not looking to invest more in it right now than keeping it working and

[2021-07-31 00:54] MaferMazu commented on #42
I saw that someone was trying to run tests for this package with Django 3.2 and the tests failed. I think I can correct it or find another alternative. I will be working on this.

[2021-08-04 01:55] natabene commented on #42
@MaferMazu Thank you for reaching out, I highly appreciate your interest and help with this. I have assigned this task to you. Please feel free to open a PR once you are ready, I will take care of it from there on.

[2021-08-04 12:17] pdpinch commented on #71
MIT Open Learning will update this xBlock. Issue at https://github.com/mitodl/edx-sga/issues/303

[2021-08-04 17:08] natabene commented on #71
@pdpinch Thank you, I am assigning this to you.

[2021-08-05 14:43] BbrSofiane commented on #21
Hey, I'm happy to take this one.

[2021-08-05 17:29] natabene commented on #21
@BbrSofiane Thank you for reaching out, I highly appreciate your interest and help with this. I have assigned this task to you. Please feel free to open a PR once you are ready, I will take care of it from there on.

[2021-08-05 18:39] natabene commented on #73
@arbrandes This issue.

[2021-08-10 15:15] pdpinch commented on #8
I'm not sure what this means, but according to the [django-oath-toolkit changelog, support for django 3.2 has been merged but not yet released](https://github.com/jazzband/django-oauth-toolkit/blob/master/CHANGELOG.md#unreleased).

[2021-08-10 19:45] jmbowman commented on #8
That's a common enough scenario that I just added an entry to https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies for it, as the first item in the list.  A polite request if there are any blockers to making a new release with the already-merged changes usually gets a relatively prompt response.

[2021-08-11 22:36] MaferMazu commented on #42
The jsonfield library supports django 3.2, the only thing missing is that the author approves some PRs to add the corresponding tests. I already wrote to the author and the maintainer.

I took the tests that are in the PRs and jsonfield supports django 3.2
Test: https://app.circleci.com/pipelines/github/MaferMazu/jsonfield?branch=mfmz%2Ffix-ci-and-test-django3.2

[2021-08-11 23:45] MaferMazu commented on #34
I was working on issue #42  and I discovered that `jsonfield` supports django 3.2 and jsonfield2 was merged with jsonfield, perhaps the best option is to change the use of jsonfield2 to jsonfield but it would be necessary to test that in edx/edx-bulk-grades, edx/edx-celeryutils, edx/edx-enterprise, edx/edx-ora2, edx/edx-platform, edx/edx-proctoring, edx/edx-submissions, edx/edx-zoom, edx/enterpris

[2021-08-12 00:11] MaferMazu commented on #4
This library supports Django3.2, you can see more details of the tests here https://github.com/AndrewIngram/django-extra-views/blob/master/tox.ini

It would be necessary to test the use of that dependency in edx/ecommerce. I could work on it

[2021-08-12 08:08] idegtiarov commented on #8
jazzband/django-oauth-toolkit#1000

[2021-08-12 08:37] idegtiarov commented on #14
FactoryBoy/factory_boy#880

[2021-08-16 17:14] BbrSofiane commented on #21
The original [django-environ](https://github.com/joke2k/django-environ) repo doesn't seem to be maintained and despite other prompts (@joke2k/django-environ#292 and @joke2k/django-environ#282) it doesn't look like the maintainer is interested in bringing it back to life.

A fork was created, [django-environ-2](https://pypi.org/project/django-environ-2/), and that one is actively maintained and cur

[2021-08-16 18:14] BbrSofiane commented on #21
Opened edx/blockstore#121.

[2021-08-18 01:47] mariajgrimaldi commented on #44
Hello @natabene, I hope you're doing great!

I'll be looking into this issue soon. Would you assign it to me?

[2021-08-18 01:53] mariajgrimaldi commented on #41
Hello @natabene, I hope you're doing great!

I'll be looking into this issue soon. Would you assign it to me?

[2021-08-18 02:03] MaferMazu commented on #10
I opened a [PR](https://github.com/django-cms/django-sekizai/pull/102) to add Django 3.2 in the tests and an [issue](https://github.com/django-cms/django-sekizai/issues/103) in the package [django-sekizai](https://github.com/ojii/django-sekizai)

In [my branch](https://github.com/MaferMazu/django-sekizai/tree/mfmz/add-support-django-32) there were no problems testing this package with Django 3.2

[2021-08-18 15:49] elvinquero commented on #7
I finally got in touch with the maintainers of the django-mptt library and we agreed that support for Django 3.2 could be added. I will keep you updated.

[2021-08-18 18:13] jmbowman commented on #4
The latest release on PyPI didn't claim support for Django 3.2, but it looks like the very next commit added testing for it without needing any code changes.  So it looks like you're correct in that we just need to upgrade the dependency in order to resolve this.

[2021-08-18 20:38] MaferMazu commented on #4
Ok. I have a question, @jmbowman . What would be the next step to take? Do a PR to the `django-32-upgrade` branch by changing the requirements from `django-extra-views == 0.11.0` to `django-extra-views == 0.14.0`?

[2021-08-19 01:55] shimulch commented on #22
Hi, I want to take this one. We can switch to [django-environ-2](https://github.com/edx/upgrades/issues/21)

[2021-08-19 02:43] MaferMazu commented on #34
I don't know if adding django 3.2 in the tests is enough to say that jsonfield supports django3.2. If so, what would be the steps to follow to resolve this issue? Do a PR on each repository in the `django-32-upgrade` branch?

[2021-08-19 07:12] BbrSofiane commented on #54
Hi, I can take on this issue

[2021-08-19 07:13] BbrSofiane commented on #58
Hi, I can take on this issue

[2021-08-19 15:02] natabene commented on #42
@MaferMazu Thank you, I hope you hear back from them soon. Please keep us posted here.

[2021-08-19 15:39] natabene commented on #8
@idegtiarov Thank you so much, please keep us posted.

[2021-08-19 15:40] natabene commented on #11
@idegtiarov Thanks so much for picking this up, please keep us posted.

[2021-08-19 15:41] natabene commented on #14
@idegtiarov Thank you for picking this up, please keep us posted.

[2021-08-20 02:34] natabene commented on #7
@elvinquero Thank you so much for an update.

[2021-08-20 02:34] natabene commented on #54
@BbrSofiane Thank you so much for volunteering! Please let me know once this is done.

[2021-08-20 02:36] natabene commented on #22
@shimulch Thank you so much for reaching out. I will assign this to you. Please let me know once this is done.

[2021-08-20 02:36] natabene commented on #58
@BbrSofiane Thanks so much for reaching out, I appreciate! Please let me know once this is done.

[2021-08-20 02:37] natabene commented on #34
@MaferMazu Thank you so much for looking into this. @jmbowman Could you help us out here?

[2021-08-20 02:39] natabene commented on #4
@MaferMazu Thank you so much for looking into this. @jmbowman Could you please help us out?

[2021-08-20 02:40] natabene commented on #44
@mariajgrimaldi Thank you so much for reaching out, I appreciate. Sure, I will assign to you. Please keep me posted on progress and let me know once this is done.

[2021-08-20 02:40] natabene commented on #41
@mariajgrimaldi Thank you very much for volunteering with this, highly appreciated. I will assign right away, please let me know once this is done.

[2021-08-20 02:41] natabene commented on #10
@MaferMazu Thank you so much for looking into this, I appreciate! Can you let me know once the PR merges?

[2021-08-20 04:04] shimulch commented on #22
@natabene Opened https://github.com/edx/openedxstats/pull/112

[2021-08-20 17:08] jmbowman commented on #7
I see that django-mptt 0.13.0 was just released with Python 3.9 and Django 3.2 support; thanks for helping out with this!

[2021-08-20 17:31] felipemontoya commented on #65
I did not know zappa was used anywhere in the stack, but I have used zappa before and I like it. However I could not find many references to clamps. What I have found suggests that the repo is not public.
Could you please give me a bit more info?

[2021-08-20 18:18] MaferMazu commented on #10
Sure. I will do it.

[2021-08-22 04:44] Jacatove commented on #76
Hi, I can help with this issue.

[2021-08-22 22:06] kasittig commented on #35
It looks like a PR to enable support for Django 3.2 was merged in early April but that there hasn't been a new release of django-model-utils since then. I opened an issue to ask the maintainers to release a new package to enable this upgrade.

[2021-08-23 12:41] cmltaWt0 commented on #55
HI @natabene.

I'm happy to take this one.

[2021-08-23 14:24] jmbowman commented on #4
@MaferMazu Yes, I think that's basically all that's needed, although it looks like there are some breaking changes in those versions that may need to be accounted for: https://github.com/AndrewIngram/django-extra-views/blob/master/CHANGELOG.rst .  The frustrating thing here is that upstream already dealt with this, and we're kicking off a project to get back onto an upstream django-wiki release, b

[2021-08-23 15:03] jmbowman commented on #65
Thanks for calling this out.  This came up in our enumeration of Django-using dependencies because it has Trove classifiers for Django support, but it looks like our Slack bot in that private repo doesn't actually use the optional Django management command support.  So I'll go ahead and close this and update our dependency tracking data accordingly.  Still would be nice if upstream explicitly test

[2021-08-23 15:03] #65 closed

[2021-08-23 15:08] natabene commented on #35
@kasittig Thank you so much for picking this up, I appreciate. Please let me know once it is done by updating here.

[2021-08-23 15:10] cmltaWt0 commented on #55
Have to mention that https://github.com/edx/upgrades/issues/20 is a showstopper for course-discovery Django 3.0+ compatibility and must be upgraded to simplify any further work with course-discovery repo.

[2021-08-23 15:10] jmbowman commented on #76
@Jacatove Thank you for reaching out.  I will assign this to you.  Please let me know once this is done.

[2021-08-23 15:12] natabene commented on #55
@cmltaWt0 Thank you so much for reaching out, I appreciate. @jmbowman Please see previous comment from @cmltaWt0.

[2021-08-23 16:39] jmbowman commented on #11
The maintainer replied in the issue above stating that the current release (already used in both ecommerce and portal-designer) should work with Django 3.2, it was only the test suite that was updated since then.  I'll go ahead and close this and update our dependency tracking data accordingly.  Thanks @idegtiarov for getting that clarified!

[2021-08-23 16:39] #11 closed

[2021-08-24 02:38] natabene commented on #7
@jmbowman If this is resolved, should this issue be closed?

[2021-08-24 11:36] jmbowman commented on #7
django-wiki still needs to be updated to run its tests with the new version, but a routine dependencies upgrade in edx-platform already pulled in and deployed the new django-mptt version.  So yes, this can be closed and we'll just follow up with a round of dependency updates for the django-wiki tests.

[2021-08-24 11:36] #7 closed

[2021-08-24 17:24] mahyard commented on #41
Hi @mariajgrimaldi
Do you mind if I take this?
I'm a bit familiar with django-ratelimit source code and I think I'm able to handle it

[2021-08-24 17:32] mariajgrimaldi commented on #41
Oh well, of course. Go ahead!

[2021-08-24 18:36] Andrew-Chen-Wang commented on #41
Hi all. I've updated the CI to show that django-ratelimit, without any modifications, has  a complete test suite for Django 3.2 + main and Python 3.6+. Thanks @mahyard for bringing this back up after I forgot about it 😅 https://github.com/Andrew-Chen-Wang/django-ratelimit/actions/runs/1163763411

[2021-08-28 08:08] jramnai commented on #24
@jmbowman, `django-elasticsearch-dsl-drf` already supports Django 3.2 with the master branch and I have created [an issue](https://github.com/barseghyanartur/django-elasticsearch-dsl-drf/issues/270) to make a new release of the package.

[2021-08-28 16:25] ghassanmas commented on #74
I tested the pacakge using `pytest` while setting `Djanogo>=3.2` the [requirments.txt](https://github.com/ghassanmas/django-dynamic-filenames/blob/a572421c41fe6b89ce054428a27fd10150463918/requirements.txt#L1) , the tests passed.

[2021-08-29 05:31] jramnai commented on #24
@jmbowman, [0.22.2 ](https://github.com/barseghyanartur/django-elasticsearch-dsl-drf/tree/0.22.2)is out for `django-elasticsearch-dsl-drf` which is tested against Django 3.2

[2021-08-29 16:00] NeOneSoft commented on #17
Hi @natabene, I would like to work in this issue if it's already available!! Thank you so much !!

[2021-08-29 16:54] jramnai commented on #28
@jmbowman, `django-fsm` is tested against Django 3.2 with the master branch, just a version bump is required. I have created an [issue](https://github.com/viewflow/django-fsm/issues/267) with it.

[2021-08-29 16:57] jsocol commented on #41
Hi all, maintainer of django-ratelimit here. One thing I want to flag is that the next release of django_ratelimit will be a major version bump that changes the package name for imports, from `ratelimit` to `django_ratelimit` (the package is from an older, smaller time in the Python package ecosystem, when namespacing was less critical). It will also include a change in default behavior from `bloc

[2021-08-30 05:45] jramnai commented on #9
@jmbowman, required [PR](https://github.com/jazzband/django-pipeline/pull/751) to support Django 3.2 has been merged with the master branch and I have created [an issue](https://github.com/jazzband/django-pipeline/issues/752) for the version bump.

[2021-08-30 09:23] ghassanmas commented on #68
I have just asked the orignal author for the repo, about how to move forward in order to upgarde it.
Also for context worth [qouting](https://github.com/jazzband/django-nose#note-to-users) from the repo Readme.md

[2021-08-30 11:25] jramnai commented on #27
@jmbowman, required [PR](https://github.com/django-hijack/django-hijack/pull/322) to support Django 3.2 has been merged on the master branch. Follow up [issue](https://github.com/django-hijack/django-hijack/issues/323) for version bump.

[2021-08-30 12:02] jmbowman commented on #34
Ok, then since we have a path forward on getting all jsonfield2 and jsonfield package usage updated to work with Django 3.2, I'll go ahead and close this out.  The actual upgrades to the latest jsonfield package are in progress and can be handled as part of the IDA updating work.  Thanks for helping sort all this out!

[2021-08-30 12:02] #34 closed

[2021-08-30 12:12] MaferMazu commented on #42
This issue would be resolved equal to #34  which is already closed.

[2021-08-30 12:42] jmbowman commented on #74
Cool! Would you be up for submitting a PR upstream to update their CI configuration?  What you've already found should unblock us for our Django 3.2 upgrade, but it would be great to also help keep the package in a state of good maintenance.

[2021-08-30 13:36] jmbowman commented on #28
@jramnai Thanks for looking into this!  From the [maintainer's response](https://github.com/viewflow/django-fsm/issues/267#issuecomment-908208651) on your issue and a quick search of the course-discovery code, it looks like we should be ok for now with the latest PyPI release.  It looks like at least one major feature isn't working under 3.2 yet, but we don't use that feature yet and it's being wo

[2021-08-30 13:36] #28 closed

[2021-08-30 14:00] jignaciopm commented on #5
Hello @natabene, I hope you're doing great!

I'll be looking into this issue soon. Would you assign it to me?

[2021-08-30 14:02] magajh commented on #59
@natabene  A PR that adds support for Django 3.2 was already merged into master, but there hasn't been a new release since then. I have created an issue to make a new release of the package to enable this upgrade https://github.com/jazzband/django-sortedm2m/issues/188

[2021-08-30 14:11] jmbowman commented on #9
Thanks!  I've assigned the ticket to you, please let us know if there are any updates on the release.

[2021-08-30 14:31] regisb commented on #1
django-fernet-fields is compatible with django 3.2, but it triggers the following warning:

    RemovedInDjango40Warning: force_text() is deprecated in favor of force_str().

I propose the following:

1. Fork the original project from https://github.com/orcasgit/django-fernet-fields/ to https://github.com/edx/django-fernet-fields/
2. Replace `force_text` by `force_str` in fernet_fields/fields.py
3

[2021-08-30 14:53] jmbowman commented on #68
Yeah, I'm surprised there's still any usage of this; I thought we had it all replaced with pytest already.  I'm still figuring out if we can deprecate our ubcpi fork, do you have any interest in porting xblock-in-video-quiz over to use pytest instead?  There are a few [Jira tickets explaining how to do this for other repos](https://openedx.atlassian.net/issues/?jql=project%20%3D%20BOM%20AND%20text

[2021-08-30 15:24] MaferMazu commented on #6
I can take a look at this

[2021-08-30 15:28] MaferMazu commented on #12
I can take a look at this

[2021-08-30 15:32] ericfab179 commented on #37
Hi @natabene, I would like to work on this issue, could you please assign it to me ? Thanks

[2021-08-30 15:43] ericfab179 commented on #33
Hi @natabene , I would like to work on this issue, could you please assign it to me ? Thanks

[2021-08-30 16:33] kasittig commented on #31
Hey @Jawayria - my PR was merged so I think this issue is complete!

[2021-08-30 16:51] Mogost commented on #27
`django-hijack` supports django version 3.2.
The v3 of `django-hijack` has been completely rewritten with an emphasis on security. I recommend that you uninstall the current integration and install following the current [instructions](https://github.com/django-hijack/django-hijack/blob/master/docs/index.md).

_Also, as far as I know, although django-hijack v2 does not declare to support django==3.

[2021-08-30 17:59] jmbowman commented on #27
Thanks for the updates, both of you!  I'll close this out as we now have a path forward to Django 3.2 support with a PyPI release, even if it will require a bit of refactoring.  (But @jramnai , please speak up if you have any interest in attempting that upgrade in the credentials repo.)

[2021-08-30 17:59] #27 closed

[2021-08-30 18:03] jmbowman commented on #42
Agreed, closing it as we have an upgrade path now.  Thanks for helping sort this out!  Tl;dr for those following up on this issue later: we believe the latest PyPI release of jsonfield should work with Django 3.2.

[2021-08-30 18:03] #42 closed

[2021-08-30 18:40] jmbowman commented on #23
I think she's still out for another day or two, but I can go ahead and assign it to you.  Thanks for looking into this!

[2021-08-30 18:40] jmbowman commented on #15
I think she's still out for another day or two, but I can go ahead and assign it to you.  Thanks for looking into this!

[2021-08-30 18:41] jmbowman commented on #19
I think she's still out for another day or two, but I can go ahead and assign it to you.  Thanks for looking into this!

[2021-08-30 18:44] jmbowman commented on #24
@jramnai Great, thanks for following up on that!

[2021-08-30 18:44] #24 closed

[2021-08-30 18:45] jmbowman commented on #17
I think she's still out for another day or two, but I can go ahead and assign it to you.  Thanks for looking into this!

[2021-08-30 19:08] jmbowman commented on #5
I think she's still out for another day or two, but I can go ahead and assign it to you.  Thanks for looking into this!

[2021-08-31 06:26] ghassanmas commented on #74
Yes I am happy to open PR for that, just can you elobrate what exacly needs to be updated in the CI configuration?, you are referring to the travis file, right?

[2021-08-31 12:38] ghassanmas commented on #68
@jmbowman I am currently in the process of migrating to `pytest`. The eample you sent seems helpful and relevant!.
Just one note, to be clear there doesn't seems to be tests in the repo [xblock-in-video-quiz](https://github.com/edx/xblock-in-video-quiz/tree/master/invideoquiz)   right?, or am I missing somehting...

[2021-08-31 13:12] mariajgrimaldi commented on #40
Hello!

I found [this](https://github.com/brutasse/django-ratelimit-backend/issues/53) issue opened by @jmbowman in the django-ratelimit-backend repo. Is this issue still needed?

[2021-08-31 13:16] mariajgrimaldi commented on #39
I'll be looking into this one! :100:

[2021-08-31 14:48] jramnai commented on #25
@jmbowman, I am taking this one. Related [PR - #674](https://github.com/jazzband/sorl-thumbnail/pull/674)

[2021-08-31 14:49] jramnai commented on #29
@jmbowman, I am pursuing this one. Related [PR - #3](https://github.com/Zegocover/enmerkar/pull/3)

[2021-08-31 15:44] jramnai commented on #32
@jmbowman, I am looking into this one. Reference [PR - #56](https://github.com/jpadilla/django-rest-framework-xml/pull/56)

[2021-08-31 18:08] jramnai commented on #45
@jmbowman, this one is already tested against Django 3.2 but on Develop branch only. I have created [an issue](https://github.com/django-compressor/django-appconf/issues/83) for the new release.

[2021-08-31 18:09] carltongibson commented on #45
Did you try updating, and run the edX test suite? Were there failures? If not then you're good to go, but you really should test first.

[2021-08-31 21:30] NeOneSoft commented on #17
Hi @jmbowman !!!, Thank you so much for your support and I'll be working on!!!

[2021-09-01 03:22] MoisesGSalas commented on #16
I opened a [PR](https://github.com/izimobil/django-rest-framework-datatables/pull/116) with tests for django 3.2. I'll open an issue for the version bump once it's merged.

[2021-09-01 15:25] jramnai commented on #45
I haven't tried to run the edX test suite with the updated package but the following is the reason we are looking for the version bump:
If Django 3.2 support has only been confirmed on the main development branch and a new release isn't imminent, figure out if we can continue using the latest release or have to update all our requirements files to install from source control instead (which is slow

[2021-09-01 16:18] jramnai commented on #67
@jmbowman, I am attempting this one. And here is my [PR](https://github.com/jazzband/django-widget-tweaks/pull/112) which tests the package against Django 3.2.

[2021-09-02 02:32] natabene commented on #59
@magajh Thank you for picking this up and looking into this, I appreciate! Please update here on your progress.

[2021-09-02 02:33] natabene commented on #1
@regisb Thank you for looking into this, I appreciate! I have assigned this to you.
@jmbowman Do you agree with the proposed?

[2021-09-02 02:34] natabene commented on #6
@MaferMazu Thank you very much for picking this up! I am assigning this to you, please update here on your progress.

[2021-09-02 02:35] natabene commented on #12
@MaferMazu Thank you very much for picking this up, I appreciate! I am assigning this to you.

[2021-09-02 02:36] natabene commented on #37
@ericfab179 Absolutely, thanks for picking this up. I will assign to you.

[2021-09-02 02:37] natabene commented on #33
@ericfab179 Thank you so much for looking into this, I appreciate. I am assigning to you.

[2021-09-02 02:38] natabene commented on #31
@jmbowman Can you please check if we are done here?
@kasittig Thank you for looking into this!

[2021-09-02 02:42] natabene commented on #39
@mariajgrimaldi Thank you so much, I appreciate! Please update us on your progress here.

[2021-09-02 02:44] natabene commented on #25
@jramnai Thank you so much for looking into this, I appreciate. I will assign this to you. I see the related PR merged, please post here once the issue for version bump merges. Thanks!

[2021-09-02 02:46] natabene commented on #29
@jramnai Thank you so much for picking this up, I will assign to you. Please update here once your PR merges.

[2021-09-02 02:46] natabene commented on #32
@jramnai Thanks so much for looking into this, I appreciate. Please update here once your PR merges. I will assign this to you.

[2021-09-02 02:48] natabene commented on #16
@MoisesGSalas Thanks so much for looking into this, I appreciate. I will assign this to you. Please update us on your progress here.

[2021-09-02 02:49] natabene commented on #45
@jramnai Thank you for looking into this, I will assign to you. @jmbowman Anything you want to add?

[2021-09-02 02:50] natabene commented on #67
@jramnai Thank you for looking into this, I will assign this to you. Please update us on your progress here.

[2021-09-02 16:42] jramnai commented on #67
@natabene, here is the [issue](https://github.com/jazzband/django-widget-tweaks/issues/114) for version bump as my PR has been merged.

[2021-09-02 18:08] natabene commented on #31
@awais786 Can you please check if this is complete, and if yes, confirm here, close the issue and update the dependency excel spreadsheet?

[2021-09-02 18:09] natabene commented on #74
@awais786 Can you please help the author here?

[2021-09-02 18:12] natabene commented on #40
@mariajgrimaldi Thanks for pointing, we will handle this deprecation ourselves, so I will close this issue on this board.

[2021-09-03 03:07] natabene commented on #67
@jramnai great, looking forward to the version bump.

[2021-09-03 10:42] mzulqarnain1 commented on #74
Yes @ghassanmas, @jmbowman is referring to Travis file indeed. It would be awesome if it contained configuration for running tests against multiple Django versions.

[2021-09-03 10:51] Jawayria commented on #31
Yes its completed

[2021-09-03 10:51] #31 closed

[2021-09-03 13:12] diegomillan commented on #48
Hi @Jawayria, I'm Diego Millan Software Engineer at eduNEXT and I would like to help with this issue. Could it be assigned to me?

Thanks

[2021-09-03 16:21] jramnai commented on #60
@natabene, I will take this and it is already tested against Django 3.2 on the master branch but the latest PyPI version isn't.

I have created a [PR](https://github.com/alanjds/drf-nested-routers/pull/243) to add Django 3.2 classifier and will raise an issue once it is merged.

[2021-09-03 16:56] NeOneSoft commented on #66
Hi @Jawayria I think that this repo [https://github.com/Fandekasp/django-sphinx-autodoc] doesn't exists anymore

[2021-09-03 17:01] NeOneSoft commented on #63
Hello @natabene, could you assign me to this issue please! Thank you so much

[2021-09-03 18:19] natabene commented on #66
@NeOneSoft Thank you so much for looking into this. @Jawayria Please review response form @NeOneSoft

[2021-09-03 18:20] natabene commented on #63
@NeOneSoft Sure, thank you so much for picking this up! Please post updated about your progress here.

[2021-09-03 18:36] natabene commented on #48
@diegomillan Thank you so much for picking this up, I appreciate. I will assign to you. Please post updates about your progress here.

[2021-09-03 18:37] natabene commented on #60
@jramnai Thanks so much for looking into this, I appreciate. Please post updates about your progress here.

[2021-09-03 19:30] diegomillan commented on #48
Thanks @natabene, I'll keep you posted.

[2021-09-03 20:31] mariajgrimaldi commented on #44
A quick update:

After some research, I found two essential -open- PRs that can help with the Django 3.2 support:

- Fix all CI: https://github.com/jschneier/django-storages/pull/1042
- Fix CI and add Django 3.2 support: https://github.com/jschneier/django-storages/pull/1005

To prove that those PRs are enough to support Django 3.2, I cherry-picked them to a separate branch and triggered testing v

[2021-09-04 09:38] jramnai commented on #53
@natabene, I have opened a [PR - #371](https://github.com/django-es/django-elasticsearch-dsl/pull/371) for Django 3.1 and 3.2 support.

[2021-09-04 11:16] ghassanmas commented on #74
Hey @mzulqarnain1 , can you check this [commit](https://github.com/ghassanmas/django-dynamic-filenames/commit/ac44478241c60de9620db32e18bb179ebefe5070) , if I understand you correctly this should resolve it.
If all good, I would open PR aginst the orignal clearfiying the intention while referring to this issue
Thanks!

[2021-09-04 13:42] awais786 commented on #74
@ghassanmas yes it seems reasonable please create a PR against orignal repo.

[2021-09-04 13:58] mzulqarnain1 commented on #74
Hey @ghassanmas, you also need to mention what version of Django to install for each tox env. Otherwise, all tests will run under the same Django version.
See https://github.com/edx/edx-ora2/blob/master/tox.ini#L7

[2021-09-05 18:17] ghassanmas commented on #74
All good @mzulqarnain1 , now we are waiting for the maintainer, ref # https://github.com/codingjoe/django-dynamic-filenames/pull/11

[2021-09-06 08:50] xitij2000 commented on #2
@jmbowman  I've run a quick search across the codebase and I see that while rest-condition is listed as a requirement, it no longer seems to be imported anywhere other than in edx-platform.

Additionally, I see that composing permissions has been supported in DRF since v3.9 : https://www.django-rest-framework.org/community/3.9-announcement/#composable-permission-classes

I can take this on, remove

[2021-09-06 15:39] NeOneSoft commented on #17
Hi @jmbowman, django rest swagger is deprecated so as they mentioned in the repo, we can use drf-yasg, in fact we already using it and I ran the tests for Django3.2 successfully. I already created the PR for https://github.com/axnsan12/drf-yasg and waiting to be merged.

[2021-09-06 16:48] MaferMazu commented on #10
I still have not had a response from the maintainers, however the [PR](https://github.com/django-cms/django-sekizai/pull/102) I did tests that [there are no errors in the tests with Django 3.2](https://github.com/MaferMazu/django-sekizai/runs/3355373466)

[2021-09-06 22:06] jfavellar90 commented on #15
Added an issue in https://github.com/newrelic/newrelic-python-agent/issues/343

[2021-09-07 10:13] xitij2000 commented on #2
edx-platform PR: https://github.com/edx/edx-platform/pull/28663
edx-drf-extensions PR: https://github.com/edx/edx-drf-extensions/pull/202

[2021-09-07 13:21] natabene commented on #17
Thanks for an update, @NeOneSoft

[2021-09-07 13:22] natabene commented on #10
@MaferMazu Thanks for an update! @awais786 How do you suggest we proceed?

[2021-09-07 13:24] natabene commented on #53
@jramnai Thanks so much for an update!

[2021-09-07 13:26] natabene commented on #2
@xitij2000 Thanks so much for an update.

[2021-09-07 13:31] natabene commented on #15
@jfavellar90 Thank you for an update!

[2021-09-07 14:50] natabene commented on #44
@mariajgrimaldi Thank you for an update. Let's wait some more.

[2021-09-07 14:59] awais786 commented on #10
@MaferMazu I just tagged the most active maintainer on your PR. We have to wait for next few days. I will keep an eye and remind them.

[2021-09-07 15:03] ghassanmas commented on #78
So the pacakge have been updated recently, a [PR](https://github.com/lazybird/django-solo/pull/91) have been merged related to supporting the new Django implementation, the author haven't replied to my issue thought,  however so it depends is the PR above suffient for resolving this?

[2021-09-07 15:15] regisb commented on #18
The django-taggit repo has been moved to jazzband: https://github.com/jazzband/django-taggit
Development has restarted and 1.5.1 is now the latest release: https://pypi.org/project/django-taggit/

Feel free to assign this issue to me.

[2021-09-07 15:52] MaferMazu commented on #10
Ok. Thanks :D

[2021-09-07 16:03] pdpinch commented on #70
Is it possible for an open edX community member to work on this without a ProctorTrack account?

[2021-09-07 16:31] jramnai commented on #50
@natabene, I am taking this one. Here is the [issue](https://github.com/django-webtest/django-webtest/issues/118) for version bump of the package.

[2021-09-07 16:56] GlugovGrGlib commented on #13
I have created an issue, asking for a support from a maintainer in  [drf-jwt](https://github.com/Styria-Digital/django-rest-framework-jwt) — https://github.com/Styria-Digital/django-rest-framework-jwt/issues/101
I'll keep you posted on it.

[2021-09-07 18:33] natabene commented on #18
@regisb Thanks so much for picking this up! I will assign to you, please update us on your progress here.

[2021-09-07 18:34] natabene commented on #70
@awais786 Please help @pdpinch with this question when you have a chance.

[2021-09-07 18:35] natabene commented on #50
@jramnai Thanks so much for picking this up, I am assigning it to you.

[2021-09-07 18:36] natabene commented on #13
@GlugovGrGlib Thank you so much for picking this up, I appreciate! Please update us here on your progress.

[2021-09-07 19:18] jfavellar90 commented on #19
@jmbowman hi, I already reviewed this dependency a bit, and before committing to a code refactoring, I'm evaluating the possibility of removing the package.  However, I'm not pretty sure how it is being used inside https://github.com/edx/openedxstats.

A quick [search in the repo](https://github.com/edx/openedxstats/search?q=jenkins) does not display something relevant apart from the dependency de

[2021-09-07 19:53] jfavellar90 commented on #15
Added a PR in https://github.com/newrelic/newrelic-python-agent/pull/344

[2021-09-07 20:04] mariajgrimaldi commented on #44
I opened this PR that migrates Travis CI to Github actions and adds Django 3.2 support, and it was merged today!
I'm waiting for a response to this comment where I'm asking for a release. Let's see :)

[2021-09-08 09:59] awais786 commented on #70
@schenedx any ideas ?

[2021-09-08 10:10] awais786 commented on #19
We have already merged `django3.2` upgrade PR in openedxstats. Openedxstats already using `githubactions` so I don't think we need this package any more. Also we should remove this from repo.

@nedbat Please let me know if you any concerns ?

[2021-09-08 12:46] schenedx commented on #70
@pdpinch I believe edX community member can work on this without a Proctortrack Account. This is because the library in question here do not depends on django.
I looked and didn't see anything we can change on [edx-proctoring-proctortrack](https://github.com/anupdhabarde/edx-proctoring-proctortrack) that require django 3.2. I believe the django 3.2 dependency is on [edx-proctoring](https://github.

[2021-09-08 16:42] natabene commented on #44
@mariajgrimaldi Thanks for sharing great news. Hoping for the best with the rest of it.

[2021-09-08 17:48] natabene commented on #21
@BbrSofiane Looks like https://github.com/edx/blockstore/pull/121 was merged.

[2021-09-08 18:23] jmbowman commented on #70
Given that edx-proctoring-proctortrack doesn't even have a test suite yet, I think we'll need to just rely on the edx-proctoring and edx-platform test suites to verify that this is working correctly when we upgrade.  I'll close this and update our upgrade notes accordingly.

[2021-09-08 18:23] #70 closed

[2021-09-09 08:20] BbrSofiane commented on #21
@natabene turns out I have to make another change.

The library I used, django-environ-2, is archived and its maintainer is now looking after django-environ which has now been updated to support Django 3.2.

I'll create a new PR.

[2021-09-09 13:27] cmltaWt0 commented on #26
There is some work in progress regarding the Django 3.2 support.
https://github.com/paulocheque/django-dynamic-fixture/issues/141

[2021-09-09 13:28] cmltaWt0 commented on #55
Maintainer doesn't have any plans for Django 3.2 support.
I'll analyze an effort to create a PR to do it by myself and then will decide are we going to help the maintainer or find an alternative (as an alternative we can use pytest-ordering directly)

[2021-09-09 13:30] cmltaWt0 commented on #20
Some work in progress. https://github.com/yourlabs/django-autocomplete-light/issues/1258
Probably we need to help the maintainer.

[2021-09-09 13:48] NeOneSoft commented on #63
Hi @natabene, I' already created a PR for the package however the last commit on this repo was on Dec 12, 2020 . I sent an email to the mantainer in order to ask for help to review it.

[2021-09-09 15:19] natabene commented on #26
@cmltaWt0 Thanks for finding this, I appreciate. Can you look into it further to help move things in time for Maple? Can I assign this to you?

[2021-09-09 15:19] natabene commented on #55
@cmltaWt0 Thank you very much for an update!

[2021-09-09 15:20] natabene commented on #20
@cmltaWt0 Thank you for finding this, would you be able to help the maintainer? Could I assign this to you? Any help would be much appreciated.

[2021-09-09 15:23] natabene commented on #21
@BbrSofiane Thanks so much for your update!

[2021-09-09 22:34] jfavellar90 commented on #15
The PR was already merged in the repo. Now it has officially Django 3.2 support in master. Hopefully, we'll get a new release of the library with these changes included in the next few days. @natabene  do you agree on marking this task as done?

[2021-09-10 13:22] mariajgrimaldi commented on #39
Hey! Sorry for the delay.

I searched for _classytags_ on edx-platform -[here](https://github.com/edx/edx-platform/search?q=classytags) are the results- and didn't find anything. So are we sure this is being used?

[2021-09-10 16:21] natabene commented on #15
@jfavellar90 Thank you for an update, this is great news! @jmbowman Do you think we can mark it is done or would you rather wait for a release?

[2021-09-10 17:52] giovannicimolin commented on #36
@e0d @Jawayria I'm looking at the e-commerce codebase and I'll try to replace `threadlocals` with `crum` (used in `edx-platform`).

[2021-09-10 17:53] mariajgrimaldi commented on #39
I left a comment earlier saying that this package was not being used. I was wrong. It's a dependency of `django-sekizai`, [here](https://github.com/edx/django-wiki/blob/b8cc9b026bf09b6f59b1e8bcecc4a9c17fc102d6/requirements/base.txt#L16) is the proof.

For Django-classy-tags to support Django 3.2, we could modify their CI adding tests for that version. The problem is that the package depends on Dja

[2021-09-10 18:12] natabene commented on #15
@jfavellar90 Could you please check back periodically to see if that release has been done and update us here? That would be most appreciated.

[2021-09-10 18:13] giovannicimolin commented on #36
WIP PR here: https://github.com/edx/ecommerce/pull/3503

[2021-09-10 18:25] awais786 commented on #64
`django.contrib.staticfiles.storage.CachedStaticFilesStorage is removed.`

https://docs.djangoproject.com/en/3.2/releases/3.1/#features-removed-in-3-1

It's usage here.
https://github.com/etianen/django-require/blob/master/require/storage.py#L10

[2021-09-10 19:16] jmbowman commented on #64
There's a fork with a fix for that: https://github.com/vtemian/django-require/commit/b5da2c2ec99566998f6144d40508b5ef077438a0

[2021-09-10 19:53] mariajgrimaldi commented on #69
I'm not sure how to proceed here.

The package uses Django in [this line](https://github.com/jazkarta/edx-jsme/blob/master/edx_jsme/__init__.py#L9) and that is used just [here](https://github.com/jazkarta/edx-jsme/blob/690dbf75441fa91c7c4899df0b83d77f7deb5458/edx_jsme/__init__.py#L42).

`from Django.utils.translation import ugettext as _` can still be used in Django 3.2, proof [here](https://githu

[2021-09-13 10:43] xitij2000 commented on #2
The base PRs have been idle for a while. If they are not going to be worked on I can pick them up.

[2021-09-13 14:26] natabene commented on #39
@mariajgrimaldi Thank you so much for an update, I appreciate.

[2021-09-13 14:27] natabene commented on #36
@giovannicimolin Thanks so much for an update.

[2021-09-13 14:59] natabene commented on #64
@awais786 Thank you for looking into this, I appreciate. Can I assign this issue to you?

[2021-09-13 15:00] natabene commented on #69
@Jawayria Could you please help @mariajgrimaldi here?

[2021-09-13 15:17] mariajgrimaldi commented on #69
of course @natabene! Thanks :)

[2021-09-13 22:09] jfavellar90 commented on #15
@natabene sure thing! I'll let you know once a new release including Django 3.2 support is published

[2021-09-13 22:12] jfavellar90 commented on #19
Hey, @nedbat just doing a follow-up on this issue. Please let us know your thoughts on this matter when you have the chance.

[2021-09-14 06:49] #18 closed

[2021-09-14 12:53] pdpinch commented on #71
@umarmughal824 wrote [a PR for this fix](https://github.com/mitodl/edx-sga/pull/304), but we can't test it until there is a django 3.2 compatible version of edx-platform.

[2021-09-14 13:01] mariajgrimaldi commented on #30
Hi there!

I searched for `expander` -how djangorestframework-expander is imported for usage- and this was the result: https://github.com/edx/blockstore/search?q=expander

It seems like it's just a requirement but it's not being used

[2021-09-14 15:19] natabene commented on #30
@mariajgrimaldi Thank you for looking into this, may I assign this issue to you?

[2021-09-14 15:26] mariajgrimaldi commented on #30
Yes! Go ahead @natabene. Thanks

[2021-09-14 15:50] nedbat commented on #19
openedxstats no longer installs django-jenkins.  I've made a pull request to get rid of the obsolete requirements files that still mentioned it: https://github.com/edx/openedxstats/pull/116.

[2021-09-14 16:42] jfavellar90 commented on #19
Thanks for your reply @nedbat. I think we can mark this TODO as DONE once the PR https://github.com/edx/openedxstats/pull/116 gets merged.

[2021-09-14 17:01] nedbat commented on #19
It's merged now.

[2021-09-14 17:25] jfavellar90 commented on #19
@natabene I moved this one to Done status since there's no longer dependency on django-jenkins

[2021-09-14 18:22] #19 closed

[2021-09-14 18:25] natabene commented on #19
@jfavellar90 Thank you!

[2021-09-14 18:49] giovannicimolin commented on #49
@Jawayria dbrgn/drf-dynamic-fields had no activity for the past 2 years.

I've looked at https://github.com/rsinger86/drf-flex-fields, and it seems to be a suitable drop-in replacement (but it only supports Django 3.1). Would it be suitable to switch to the maintained package + help them with the Django 3.2 upgrade?

[2021-09-14 20:10] magajh commented on #59
@natabene Django 3.2 is supported now with the release [3.1.0](https://github.com/jazzband/django-sortedm2m/releases/tag/3.1.0). However, this new version has not been published to PyPi.  I already left another comment to see if they are going to publish it any time soon

[2021-09-14 20:52] mariajgrimaldi commented on #39
It's merged! I'll be posting when they make the new release.

[2021-09-14 20:55] natabene commented on #39
Great, thanks for an update, @mariajgrimaldi, I will be waiting for release news from you.

[2021-09-14 20:55] natabene commented on #59
@magajh Great, thanks so much for an update. @Jawayria At which point do we mark it in the Dependencies table as done?

[2021-09-14 20:57] natabene commented on #22
[edx/openedxstats#112](https://github.com/edx/openedxstats/pull/112) was Merged. @Jawayria Do we consider it Done now?

[2021-09-14 21:03] natabene commented on #49
@giovannicimolin Thank you for looking into this, can I assign this to you?

[2021-09-15 11:57] regisb commented on #2
I guess this issue should be assigned to @xitij2000 right @natabene?

[2021-09-15 12:21] regisb commented on #38
I suggested to the django-taggit maintainers that the project be vendored in (see [this conversation](https://github.com/jazzband/django-taggit/issues/33)). If they agree, we would be able to get rid of the django-taggit-autosuggests dependency and just depend on the latest release of django-taggit.

Whatever the solution we end up with, this issue can be assigned to me.

[2021-09-15 12:29] giovannicimolin commented on #49
@natabene Yup, you can assign it to me :)

[2021-09-15 14:14] natabene commented on #71
@pdpinch Thank you for an update. @Jawayria FYI this is waiting on edx-platform.

[2021-09-15 15:14] natabene commented on #38
@regisb Thank you so much for picking this up and looking into it.

[2021-09-15 15:56] NeOneSoft commented on #17
Hi @natabene  I suggest to keep using https://github.com/axnsan12/drf-yasg since tests were ran successfully for Django 3.2 even tough this is not mentioned in the repo and I could not contact with the maintainer yet>

[2021-09-15 16:01] NeOneSoft commented on #63
Hi @natabene I suggest to keep using django-soapbox since tests were ran successfully for Django 3.2 even tough this is not mentioned in the repo and I could not contact with the maintainer yet.

[2021-09-15 16:02] natabene commented on #18
@jmbowman Removing this from our dependency table.

[2021-09-15 16:07] MaferMazu commented on #10
The maintainers have already merged my PR, thanks for your help. The release is still missing, let's wait for what they tell me.

[2021-09-15 16:08] #40 closed

[2021-09-15 16:23] natabene commented on #23
Was closed as a duplicate of https://github.com/edx/upgrades/issues/23

[2021-09-15 16:49] natabene commented on #17
@Jawayria Please let me know what you think.

[2021-09-15 16:49] natabene commented on #63
@Jawayria Please let me know what you think.

[2021-09-15 16:50] natabene commented on #10
@MaferMazu Wonderful, thanks for an update.

[2021-09-15 16:56] natabene commented on #73
@arbrandes Not sure why I pinged you here, were you planning on picking this up?

[2021-09-15 16:57] natabene commented on #54
@BbrSofiane Just checking if there have been any updates on this.

[2021-09-15 16:58] natabene commented on #58
@BbrSofiane Just checking if there have been any updates on this, please let me know when you have a chance.

[2021-09-15 17:04] natabene commented on #75
Was closed as a duplicate of #23

[2021-09-15 17:04] natabene commented on #23
@magajh Just checking if you had a chance to look into this.

[2021-09-15 17:05] natabene commented on #5
@jignaciopm Just checking if you had a chance to look into this.

[2021-09-15 17:06] natabene commented on #6
@MaferMazu Just checking if you had a chance to look into this.

[2021-09-15 17:07] natabene commented on #12
@MaferMazu Just checking if you had any update on this.

[2021-09-15 17:07] natabene commented on #37
@ericfab179 Just checking if you had any updates on this.

[2021-09-15 17:08] natabene commented on #33
@ericfab179 Just checking if you had a chance to look into this, please share any updates.

[2021-09-15 17:09] natabene commented on #25
@jramnai Looks like we are just waiting for a new release, right?

[2021-09-15 17:12] natabene commented on #45
Looks like we are waiting for end of September, see https://github.com/django-compressor/django-appconf/issues/83#issuecomment-919849078

[2021-09-15 17:14] natabene commented on #48
@diegomillan Just checking if you had a chance to look into this.

[2021-09-15 17:14] natabene commented on #60
@jramnai Just checking what is left here, please update us.

[2021-09-15 17:42] carltongibson commented on #45
Django 4.0a will be next week.

But there are no relevant code changes in AppConf. It's already compatible.

You're holding yourselves up over packaging metadata.

Did you run it against the EdX test suite?

[2021-09-15 18:39] awais786 commented on #71
Comment added on PR. No need to drop django22 support.

[2021-09-15 18:42] awais786 commented on #68
@natabene you can close this. Its completed.

[2021-09-15 18:54] awais786 commented on #63
@NeOneSoft It make sense to me and [edx-analytics](https://github.com/edx/edx-analytics-dashboard/blob/master/requirements/base.txt#L39) already deployed with django32 and this package is working fine.
We can close this ticket @natabene

[2021-09-15 19:04] mariajgrimaldi commented on #56
Hi there!

I couldn't find any explicit affirmation about supporting Django 3.2, but then I ran with the tests executions and found that they are actually using Django 3.2:
![image](https://user-images.githubusercontent.com/64440265/133493809-ce6742c4-2c5c-4790-814f-9d094e60464a.png)
https://github.com/lepture/authlib/runs/3542288706

So maybe it's safe to say that it already supports Django 3.2

[2021-09-15 20:32] ghassanmas commented on #68
edx/ubcpi still uses django-nose as it appears here: https://github.com/edx/ubcpi/blob/29f066d2397383297312cb49eb62718fe0514d99/requirements/test.txt#L6 .

[2021-09-16 00:56] #63 closed

[2021-09-16 00:58] natabene commented on #56
@mariajgrimaldi Thank you so much for looking into this! @awais786 What do you think?

[2021-09-16 00:58] natabene commented on #68
@awais786 What do you think regarding the last comment?

[2021-09-16 06:06] awais786 commented on #68
I only checked `xblock-in-video-quiz` and it was done, but edx/ubcpi need updation.
@ghassanmas needs similar PR in edx/ubcpi also.

https://github.com/edx/ubcpi/blob/29f066d2397383297312cb49eb62718fe0514d99/settings/test.py#L34

[2021-09-16 08:06] awais786 commented on #22
Yes its Done.

[2021-09-16 08:50] awais786 commented on #59
@natabene yes 3.2 support is added but still there is no PR so we can add a comment in sheet, but no need to change the status.

[2021-09-16 08:56] awais786 commented on #78
@ghassanmas please run these [codemods](https://github.com/edx/repo-tools/tree/master/edx_repo_tools/codemods/django3) on this Repo to see if there any any changes.

[2021-09-16 09:08] awais786 commented on #9
https://github.com/jazzband/django-pipeline/pull/751 is merged but no release so far. Technically this issue is done but in sheet status will remain open unless new release arrive.

[2021-09-16 09:19] Jawayria commented on #69
Yes @mariajgrimaldi we don't need any intervention in this package. Thanks for having a look at it. @natabene we can close this issue.

[2021-09-16 12:10] jmbowman commented on #1
Sorry for the delayed response, I tried and failed to delegate this and a few other tasks.  If the current PyPI release works with 3.2 and we just need to put up with the deprecation warnings for 4.0, I'm inclined to stick with that for now and offer assistance on https://github.com/orcasgit/django-fernet-fields/issues/28 .  The https://github.com/dstarner/django-fernet-fields fork has already bee

[2021-09-16 12:26] jmbowman commented on #17
It looks like there was a [maintainer transition](https://github.com/axnsan12/drf-yasg/issues/662) last year, although it sounds like it's still hard to get maintainer attention.  Maybe create a new issue asking if more help is wanted to get the next release out with Django 3.2 support and/or if a move to Jazzband would be appropriate?  In the meantime, it sounds like the only blocker for our Djan

[2021-09-16 12:44] regisb commented on #1
Given the urgency of the Django 3.2 upgrade, I agree that we can live with a simple deprecation warning. Feel free to close this.

[2021-09-16 12:44] awais786 commented on #56
Yes it is running tests with `django32`, We can safely consider this package as done

[2021-09-16 13:37] diegomillan commented on #48
Hi @natabene, this is what I have:

- A PR was created to test algoliasearch over Django 3.2 and Python 3.8 https://github.com/algolia/algoliasearch-django/pull/316.
- I locally tested and it works.

As you can see, it's a really small change. We should keep pushing in order to get it merged.

[2021-09-16 14:06] NeOneSoft commented on #63
Thank you @natabene , @awais786 , @Jawayria  for your support = )!!

[2021-09-16 14:07] natabene commented on #66
@NeOneSoft We are still looking into this, please stay tuned.

[2021-09-16 14:08] NeOneSoft commented on #66
For sure @natabene!!

[2021-09-16 14:08] #22 closed

[2021-09-16 14:10] natabene commented on #41
Update from the edX team: we are still looking into this, please stay tuned.

[2021-09-16 15:36] Squirrel18 commented on #61
Hi, @natabene I would like to contribute to this problem, could you please assign it to me?

[2021-09-16 15:36] Squirrel18 commented on #47
Hi, @natabene I would like to contribute to this problem, could you please assign it to me?

[2021-09-16 15:46] natabene commented on #47
@Squirrel18 Absolutely, thank you for reaching out to us and picking this up. I will assign this to you. Please keep us updated on your progress here.

[2021-09-16 15:48] natabene commented on #61
@Squirrel18 Sure, thank you for picking this up, I will assign to you.

[2021-09-16 16:01] natabene commented on #48
@diegomillan Thanks so much for an update.

[2021-09-16 16:03] jramnai commented on #25
Yes @natabene, waiting for the new release. I have pinged the project manager, waiting for his reply.

[2021-09-16 16:07] jramnai commented on #60
@natabene, the PR is merged and I have also created [an issue](https://github.com/alanjds/drf-nested-routers/issues/244) for version bump.

In meantime, could you do the development targeting the github master branch?

^ Maintainer's comment.

[2021-09-16 16:44] jramnai commented on #29
Created [an issue](https://github.com/Zegocover/enmerkar/issues/5) for the version bump as the PR is merged.

[2021-09-16 19:40] ghassanmas commented on #78
@awais786 Is there an example of how to do that, it would save me a lot of time if there is at least some guideline. I couldn't get how to do that by just following the doc/readme on [edx/repo-tools](https://github.com/edx/repo-tools). I speculate that I would have to add a test file replication or something?

[2021-09-17 03:05] MaferMazu commented on #6
I tried to add test to django-modelcluster with django32 environment and they did not pass, so i create an [issue](https://github.com/wagtail/django-modelcluster/issues/142) asking if they plan to do a new release that supports django 32. I hope they answer me.

[2021-09-17 03:34] MaferMazu commented on #12
I just opened an [issue](https://github.com/mjumbewu/django-rest-framework-csv/issues/90) and a [PR](https://github.com/mjumbewu/django-rest-framework-csv/pull/89) to make a new release with support for django32, however the current version of this library has no problem with django32 ( [tests](https://app.travis-ci.com/github/MaferMazu/django-rest-framework-csv/jobs/537954189) ).

[2021-09-17 06:47] mahyard commented on #41
I believe that in short term, we cannot expect a new release of django-ratelimit to install from PyPI. However the latest code on the package's github repostory properly works with Django 3.2 and *python-memcached* caching backend. So we would be able to install it directly from a github commit id. I know that it's not a recommended approach, though, I want to make sure whether it is OK until the

[2021-09-17 08:38] Jawayria commented on #78
@ghassanmas you can use the following set of commands to run codemods
[code]

[2021-09-17 11:28] awais786 commented on #56
@mariajgrimaldi I am searching the `authlib` supporting version with django2.2+ version.
course-discovery is using this authlib==0.15.4.
You can see https://github.com/lepture/authlib/tree/v0.15.4 build history and see lot of failures. I am assuming `authlib==0.15.4` is not supporting >django2.2 versions and we need to wait for the latest release.

What do you think ?

[2021-09-17 12:05] mariajgrimaldi commented on #56
You're right, @awais786. I opened a new issue asking for a version bump. I'll keep you posted

[2021-09-17 12:41] awais786 commented on #66
@NeOneSoft it was added in this https://github.com/edx/ease/pull/86/files I don't think it has any output. You can remove this from the repo `edx/ease`. After removing we can close this ticket.

[2021-09-17 13:39] natabene commented on #6
@MaferMazu Thanks for an update!

[2021-09-17 13:43] natabene commented on #12
@MaferMazu Thank you for an update!

[2021-09-17 14:19] jfavellar90 commented on #15
@natabene the new release was created in the library: https://github.com/newrelic/newrelic-python-agent/releases/tag/v6.10.0.165 and this contains the code adding support for Django 3.2. Unless there's something else to do, I think this task can be marked as DONE

[2021-09-17 18:18] #1 closed

[2021-09-17 18:24] natabene commented on #69
I will follow up with natea about doing a release and whether they still maintain this or it needs another owner.

[2021-09-17 18:26] natabene commented on #56
Reopening it waiting for a new release.

[2021-09-17 18:33] natabene commented on #41
Ok, thank you all, closing this issue.

[2021-09-17 18:33] #41 closed

[2021-09-17 18:36] natabene commented on #15
Thank you @jfavellar90 I am closing this.

[2021-09-17 18:36] #15 closed

[2021-09-17 19:20] mariajgrimaldi commented on #69
@natabene, thanks for the update. Would you mind letting me know if you need any help?

[2021-09-17 19:45] magajh commented on #23
Hi @natabene!
A [PR](https://github.com/brack3t/django-braces/pull/265 that adds support for Django 3.2 was opened a while ago, all the tests seem to be passing just fine.  I opened a new [issue](https://github.com/brack3t/django-braces/issues/268) asking the supporters for a review on it. I'll keep you updated

[2021-09-17 21:19] NeOneSoft commented on #17
Hi @jmbowman thank you for your response, I'm agree with you to switch django-rest-swagger to drf yasg so I'll be working with eduNEXT team to kick-off this effort and share updates or ask for help if we need it!!

[2021-09-18 16:00] ericfab179 commented on #37
Hi @natabene. This ToDo is closely related to https://github.com/edx/upgrades/issues/17.  @NeOneSoft already opened a PR to support Django 3.2 in drf-yasg and contacted the new maintainer to push him so we can merge the PR soon. In the meantime I am going to help Gonzalo to change django-rest-swagger to drf-yasg in the repos that still use the deprecated library.

[2021-09-19 11:21] cmltaWt0 commented on #55
Further investigation of the history of pytest-django-ordering reveals the interesting conclusion - we don't need this plugin since repos use [pytest-django>=3.9](https://pytest-django.readthedocs.io/en/latest/changelog.html?highlight=ordering#v3-9-0-2020-03-31) where an appropriate [bugfix](https://pytest-django.readthedocs.io/en/latest/changelog.html?highlight=ordering#id10) was introduced.

The

[2021-09-19 19:49] mariajgrimaldi commented on #56
They have a beta release: https://github.com/lepture/authlib/issues/384#issuecomment-922450778

[2021-09-20 13:00] MoisesGSalas commented on #16
I'm yet to receive an answer from the maintainer, so I deceided to run the tests for Django 3.2 by myself against the latest release on PyPI (the original PR have tests for a pending release).

You can see the run [here](https://github.com/eduNEXT/django-rest-framework-datatables/actions/runs/1244310022). I branched from commit [`979370c`](https://github.com/izimobil/django-rest-framework-datatabl

[2021-09-20 14:11] natabene commented on #69
@mariajgrimaldi Thanks for offering, I am good.

[2021-09-20 14:18] natabene commented on #23
@magajh Thanks so much for an update and for your help!

[2021-09-20 14:30] natabene commented on #37
@ericfab179 Thanks so much for an update, makes sense.

[2021-09-20 14:31] natabene commented on #55
@cmltaWt0 Thank you for an update, I appreciate.

[2021-09-20 14:38] natabene commented on #56
@jmbowman Do you want to wait or are you happy with beta?

[2021-09-20 14:47] natabene commented on #16
@MoisesGSalas Thanks so much for an update. @Jawayria, @awais786  What do you think?

[2021-09-20 16:03] NeOneSoft commented on #17
Hi @jmbowman!!, we are wondering if its necessary to use https://github.com/edx/api-doc-tools in order to switch the repos to
drf-ysg or it could be done by simply do it directly in each repo. Thank you so much!!

[2021-09-20 17:15] arbrandes commented on #73
@natabene, I was - still am!  Just a bit late on it, though.

[2021-09-20 20:06] natabene commented on #73
@arbrandes Got it, thanks for an update!

[2021-09-21 02:13] lepture commented on #56
@natabene I'm using the beta version for my own product (https://typlog.com/) right now. I just rewrote the project from Flask to Django, and it is using the latest Django version.

[2021-09-21 02:38] ericfab179 commented on #33
Hi @natabene, I created an issue trying to contact the django-parler maintainer because some PRs need to be merged in order to make django-parler compatible with Django 3.2 https://github.com/django-parler/django-parler/issues/303
I will let you know if I can make progress on this.

[2021-09-21 09:10] iamsobanjaved commented on #16
Yeah, sure we can count this release `0.6.0` in Django 3.2 supported releases and can update our dependency sheet with a note that this release is tested with Django 3.2 and support in further new releases depends on the merge status of this [PR](https://github.com/izimobil/django-rest-framework-datatables/pull/116)

[2021-09-21 12:58] natabene commented on #33
@ericfab179 Thanks for an update!

[2021-09-21 13:51] Jacatove commented on #76
Hi @jmbowman I have a question but first let me give you some context of what I have done.

1. I opened a [draft PR](https://github.com/edx/ecommerce/pull/3494). A solution based on the 5th option to [Handling Outdated Dependencies](https://openedx.atlassian.net/wiki/spaces/AC/pages/3036972032/Handling+Outdated+Dependencies). (There is more information explaining the reason I choose the 5th option

[2021-09-21 15:12] mraarif commented on #55
@natabene the change introduced by @cmltaWt0 to remove `pytest-django-ordering` seems reasonable

[2021-09-21 18:07] natabene commented on #17
@nedbat Could you help us out here? @jmbowman said you would have a better idea about this.

[2021-09-21 18:16] #64 closed

[2021-09-21 19:36] jignaciopm commented on #5
Hello dear @natabene. Sorry for the delay. Yes, I am on this but I still have not received a response from the maintainers.

[2021-09-21 21:00] NeOneSoft commented on #66
Thank you for your response @awais786 I created a PR in order to close this ticket!!

[2021-09-22 05:16] #66 closed

[2021-09-22 05:17] awais786 commented on #66
@NeOneSoft Thanks for your contribution. I have merged your pr.

@natabene you can close this ticket.

[2021-09-22 16:17] NeOneSoft commented on #66
Thank  you so much @awais786  @natabene !!!

[2021-09-25 08:25] jramnai commented on #45
Thanks @carltongibson for the new release.

@natabene, the new version is released on PyPI, I guess we can close this issue.

[2021-09-27 08:29] Jawayria commented on #78
@ghassanmas you can make a PR with the changes suggested by `replace_unicode_with_str` and `add_django32_settings` codemods.

[2021-09-27 08:50] ghassanmas commented on #78
@Jawayria here is the PR lazybird/django-solo/pull/98, let me know if other changes are required

[2021-09-27 11:12] Jawayria commented on #78
@ghassanmas I guess we don't need any further changes but still can you please run tests with Django 3.2 once to verify that we are done?

[2021-09-27 12:46] cmltaWt0 commented on #20
@natabene Yeap, please assign. I can work on it.

[2021-09-27 12:54] cmltaWt0 commented on #26
@natabene Yes, please. Will take it.

[2021-09-27 14:31] natabene commented on #45
@carltongibson @jramnai Thank you both.

[2021-09-27 14:31] #45 closed

[2021-09-27 15:18] ghassanmas commented on #78
There was just a warning because the setting for the test wasn't updated, I have made a PR to fix it: https://github.com/lazybird/django-solo/pull/99
Besides that, all good, tests passed without any errors or warnings.

[2021-09-27 20:25] jignaciopm commented on #5
Hi @natabene. I'm still waiting for a response from the maintainers of this repo. Any idea how we could move forward with this issue?

[2021-09-28 10:39] regisb commented on #38
Given that I received no feedback to my question in the upstream repo, I think we should move along without the help of jazzband.

1. We get rid of the autosuggest package and lose the autocomplete functionality.
2. We fork django-taggit-autosuggest, make it compatible with Django 3.2 and install from our fork.

As far as I understand, the autosuggestion functionality is mostly used in the Course

[2021-09-28 11:19] ghassanmas commented on #74
[Update] Author have updated the package following our request ref: codingjoe/django-dynamic-filenames/pull/12 , however, there is one minor issue that I think needs to be resolved codingjoe/django-dynamic-filenames/issues/13

[2021-09-28 11:39] ghassanmas commented on #51
status: waiting for maintainer to review/merge
@jramnai have already pushed a PR pinax/pinax-announcements/pull/68

[2021-09-28 11:44] ghassanmas commented on #43
Status: Waiting for maintainer
Relevant RR is opened Benoss/django-elasticsearch-debug-toolbar/pull/14 and an issue as well /Benoss/django-elasticsearch-debug-toolbar/issues/16

[2021-09-28 13:14] ghassanmas commented on #78
Since https://github.com/lazybird/django-solo/pull/99 is merged, I think this is ready to be labelled as done.

[2021-09-28 14:10] natabene commented on #43
@ghassanmas Thanks so much for an update!

[2021-09-28 14:10] natabene commented on #43
@ghassanmas I will assign this to you if you don't mind.

[2021-09-28 14:14] natabene commented on #51
@ghassanmas Thanks so much for an update, I will assign this to you if you don't mind.

[2021-09-28 19:57] natabene commented on #38
@Jawayria @awais786 Could you please review the proposed approach?

[2021-09-28 20:13] natabene commented on #78
@ghassanmas Thanks for the update, let us look into this.

[2021-09-28 20:34] natabene commented on #78
@ghassanmas It would be best if we wait for a release. Is this something you can pursue?

[2021-09-29 06:43] ghassanmas commented on #78
Yes @netabene, I am on it. I will update you as soon as it's released

[2021-09-29 07:22] ghassanmas commented on #74
[Update]
Regarding  codingjoe/django-dynamic-filenames/issues/13 which I pointed above, it seems that edx/course-discovery already  have contraints to make sure slugify is installed via unicode-slugify (_because it depends on it_), as shown below:

1- [requirements/constraints.txt#L23-L25
](https://github.com/edx/course-discovery/blob/master/requirements/constraints.txt#L23-L25)
[code]
2- [require

[2021-09-29 09:09] ghassanmas commented on #78
@natabene https://github.com/lazybird/django-solo/releases/tag/1.2.0

[2021-09-29 10:21] cmltaWt0 commented on #26
https://github.com/paulocheque/django-dynamic-fixture/issues/144

[2021-09-29 16:00] natabene commented on #78
Thanks, @ghassanmas !

[2021-09-29 16:01] #78 closed

[2021-09-29 16:37] diegomillan commented on #48
Hi @natabene , I see the PR above was merged. This should be solved now!

[2021-09-29 18:58] cmltaWt0 commented on #20
Django3.2 support was released as release candidate as [https://pypi.org/project/django-autocomplete-light/3.9.0rc1/](3.9.0rc1)

I'm going to test it and create PR in positive case.

[2021-09-29 20:00] mariajgrimaldi commented on #44
Hi there! I've been checking this issue every other day, and they haven't done the version bump. Either way, master already has support for Django 3.2!

[2021-09-29 20:07] natabene commented on #20
@cmltaWt0 Thank so much for an update.

[2021-09-29 21:37] NeOneSoft commented on #17
Hi @natabene  @nedbat !!!,regarding to my last comment, do we have any update or suggestion to continue with this effort. Thank you so much!!! = )

[2021-09-30 06:31] awais786 commented on #38
@regisb did you get a chance to test `django-taggit-autosuggest` with django32 ? I am trying to check it with discovery (django32) and it seems working for me.  May be I did't hit the right testing scenario just added some tags and loaded them back.

If there are any issues I will go with your suggested fork https://github.com/iarp/django-taggit-autosuggest but we have to fork this inside edx org.

[2021-09-30 07:54] regisb commented on #38
No, I assumed it was simply not working. Looking at the upgrade commit (https://github.com/iarp/django-taggit-autosuggest/commit/3a1f8b69727e6a42b414ce084e9954bc96310350), it looks like it's only the demo project that needs to be upgraded. So I guess it might be compatible with Django 3.2.

Why was this package flagged for incompatibility with Django 3.2 in the first place? @jmbowman can you expla

[2021-09-30 09:46] awais786 commented on #38
@regisb The issue was created because package is missing `django32` testing and any compatibility information.

Recently I have replaced `django-require` with this fork https://github.com/edx/django-require. I think the purpose of this forking inside `edx` is to make sure it remains available and not get deleted or abandoned by the owner.

[2021-09-30 10:33] regisb commented on #38
OK so what should we do? Personally I'm not so excited by the idea of forking a fork. So I guess I would just stick with the older package. But then again, I don't have a very strong opinion on this.

[2021-09-30 10:40] awais786 commented on #38
I will use the existing package with `django32` and in case of any issue will move to the fork.

[2021-09-30 11:12] regisb commented on #38
Sounds good! So I guess we can close this issue?

[2021-09-30 13:17] awais786 commented on #38
@natabene you can close this. I will test the existing version with django32.

[2021-09-30 15:16] #38 closed

[2021-09-30 16:50] nedbat commented on #17
I'm looking at this now.  Here is @NeOneSoft 's PR for drf-yasg adding Django 3.2 support: https://github.com/axnsan12/drf-yasg/pull/735

[2021-09-30 17:16] cmltaWt0 commented on #20
Tested locally and opened PR with RC [3.9.0rc1](https://pypi.org/project/django-autocomplete-light/3.9.0rc1/) as a candidate for upgrade.

[2021-09-30 17:56] nedbat commented on #17
@NeOneSoft You don't have to switch the repos to using api-doc-tools.  It would be nice to have all the repos using the same docs foundation, but api-doc-tools only generates docs for "/api" by default, so it might be more work than we want to take on right now to also move to api-doc-tools.

[2021-10-01 13:21] awais786 commented on #59
we can close this new release is available.

[2021-10-01 13:21] natabene commented on #59
This is done now.

[2021-10-01 13:21] #59 closed

[2021-10-01 14:12] NeOneSoft commented on #17
Thank you so much @nedbat !!!Yes the upgrade was done on axnsan12/drf-yasg#735 so we will start to work on each repo for this issue. Thanks for your support!!!

[2021-10-04 09:15] cmltaWt0 commented on #26
New version is live https://pypi.org/project/django-dynamic-fixture/3.1.2/
Going to create PRs to all required repos.

[2021-10-04 14:23] cmltaWt0 commented on #26
@natabene
I have no access to the following repos:
- https://github.com/edx/video-encode-manager
- https://github.com/edx/demographics

[2021-10-04 14:29] cmltaWt0 commented on #20
@natabene PR has been merged. Is it up to you to proceed this issue further? (to the closed state)

[2021-10-04 16:57] natabene commented on #53
@jramnai I am excited to see this being so close to complete. Hopefully this will land before this weekend.

[2021-10-04 18:12] natabene commented on #74
@ghassanmas Thanks, marking as done!

[2021-10-04 18:12] #74 closed

[2021-10-04 18:15] natabene commented on #48
@diegomillan Thanks for an update, I appreciate. I want to keep it open a bit longer. Can you ask them for a release?

[2021-10-04 18:19] natabene commented on #20
@cmltaWt0 Thanks so much for an update, closing.

[2021-10-04 18:19] #20 closed

[2021-10-04 18:23] diegomillan commented on #48
Sure, I will @natabene

[2021-10-05 01:40] natabene commented on #26
@Jawayria  or @awais786 , please create BOM tickets for the 2 repos in question.

[2021-10-05 09:00] xitij2000 commented on #2
edx/completion: https://github.com/edx/completion/pull/160

[2021-10-05 13:34] jramnai commented on #53
Yes @natabene. Rebased and waiting for the workflow to run.

[2021-10-05 13:38] natabene commented on #53
@jramnai Excellent, thanks so much.

[2021-10-06 15:06] NeOneSoft commented on #17
Hi @jmbowman  I couldn't find edx/demographics repo. Do you know if it was moved to some other place? Thanks in advance!!

[2021-10-07 14:02] natabene commented on #49
@giovannicimolin Thanks so much for an update!

[2021-10-07 14:42] natabene commented on #17
It is private

[2021-10-07 18:10] awais786 commented on #17
oh i did't noticed.

[2021-10-10 23:57] ericfab179 commented on #17
Quick update here:
- edx/portal-designer: PR to address this issue https://github.com/edx/portal-designer/pull/152
- edx/enterprise-catalog: This issue was already addressed here https://github.com/edx/enterprise-catalog/commit/1be9509ac2f543e1d82e25adf4ecb806634abe62
- edx/license-manager: This issue was already addressed here https://github.com/edx/license-manager/commit/38376265b7c09ab27cf92d07

[2021-10-11 20:58] Jacatove commented on #76
@diegomillan This is the ticket I need help with.

[2021-10-11 21:08] NeOneSoft commented on #17
https://github.com/edx/ecommerce/pull/3539

[2021-10-12 21:01] NeOneSoft commented on #17
Hi @natabene @awais786 @jmbowman !! I think that this issue is ready for review. Thank you so much for all your help and support!!

[2021-10-13 07:19] awais786 commented on #17
We are reviewing prs.

[2021-10-13 14:04] UsamaSadiq commented on #6
`Django 3.2` support added and tests fixed in the new release [django-modelcluster==5.2](https://github.com/wagtail/django-modelcluster/releases/tag/v5.2) so marking this issue as done.
@MaferMazu Thank you for your efforts on this issue.

[2021-10-13 14:04] #6 closed

[2021-10-15 11:43] mariajgrimaldi commented on #72
The [master branch](https://github.com/pmitros/FeedbackXBlock) now supports Django 3.2. I asked for a new release. Let's wait and see

[2021-10-16 08:40] jramnai commented on #60
@natabene, as the new version is released on PyPI I guess we can close this.

@alanjds thanks for the version bump.

[2021-10-18 14:58] #60 closed, assigned to jramnai

[2021-10-18 15:11] #71 closed

[2021-10-18 15:20] #56 closed

[2021-10-18 15:39] jmbowman commented on #29
Looking at that issue, the 0.7.1 release should work correctly (and in fact, we've already deployed with Django 3.2 to production using it).  We'll get the new release with updated metadata once it's out.

[2021-10-18 17:50] natabene commented on #9
@awais786 Can you please ask for a new release?

[2021-10-18 17:59] natabene commented on #47
@Squirrel18 Just checking if you had a chance to look into this.

[2021-10-18 19:03] natabene commented on #33
@ericfab179 Are we good now or is anything else needed?

[2021-10-18 21:50] arbrandes commented on #73
@natabene, apologies!  I haven't managed to tackle this, yet.  But it is high in my list.  I intend to have it done before the week's out.

[2021-11-02 15:36] BbrSofiane commented on #54
@natabene apologies for the delay. Yes I can sort this one out!

[2021-11-02 15:37] BbrSofiane commented on #58
@natabene Apologies for the late reply. I don't think I will have to look at this one anymore.

[2021-11-02 17:15] natabene commented on #58
@BbrSofiane Thank you for an update! Moving this back to to do.

[2021-11-02 17:16] natabene commented on #54
@BbrSofiane Great, thanks so much for an update!

[2021-11-09 15:08] natabene commented on #23
Do we have a release by any chance?

[2021-11-18 05:54] Squirrel18 commented on #47
Hi @natabene, I don't know what happened but my feedback never got submitted, my fault. Yes, I did work on this and here is what I found:

Jasmine Core for Python is deprecated (https://jasmine.github.io/setup/python.html) so the options are:
1. Remove the Jasmine Core support and change it to the supported Jasmine Node package.
2. Remove the Jasmine Core support and run the JS test suites with Ka

[2021-11-18 21:24] natabene commented on #49
@Jawayria Are we good now? Can this be closed? CC @awais786

[2021-11-18 21:36] natabene commented on #47
@Squirrel18  Thank you for your research. @Jawayria @jmbowman Please advise on how to proceed.

[2021-11-19 09:55] awais786 commented on #49
You can close this.

[2021-11-19 14:47] #49 closed

[2021-11-29 14:30] gabor-boros commented on #73
Hello @natabene,
The related PR is merged and the Xblock will be bumped as part of https://github.com/edx/edx-platform/pull/29046.

[2021-11-30 21:27] GlugovGrGlib commented on #13
@natabene Sorry for the delayed response, this ticket can be moved to review state and closed. The maintainer of the **drf-jwt** library has confirmed that there's no upper bound for Django dependency, and no code changes/release required.

We can continue using version [1.19.1](https://pypi.org/project/drf-jwt/1.19.1/), that was released May 18th 2021, in all edX repositories.

The only change si

[2021-12-07 18:08] giovannicimolin commented on #58
@natabene I can look at it in the next sprint (starting Dec 14).

[2021-12-07 20:00] giovannicimolin commented on #58
@natabene I think you assigned it to the wrong person?

I offered to work on this because it was on the backlog, but if there's already an assignee I can drop this.

[2021-12-08 15:45] natabene commented on #58
@giovannicimolin Indeed, thanks for catching this. Reassigning to you.

[2021-12-08 15:56] natabene commented on #13
@GlugovGrGlib Thank you so much for all you effort on this. Marking as done.

[2021-12-08 15:56] #13 closed

[2021-12-08 16:36] cmltaWt0 commented on #55
@natabene Let's close it.

[2021-12-08 16:44] #55 closed

[2021-12-14 15:39] natabene commented on #17
@awais786 Just checking if those PRs have merged.

[2021-12-14 15:39] natabene commented on #2
@xitij2000 Thanks for your comment, we will review.

[2021-12-14 15:40] natabene commented on #21
@BbrSofiane Thank you for an update, we will review.

[2021-12-14 15:43] natabene commented on #33
@ericfab179 Thanks for an update, please let us review and we will update you here.

[2021-12-14 15:50] natabene commented on #53
@jramnai Just checking, if there have been any news.

[2021-12-15 10:32] Jawayria commented on #17
@natabene @NeOneSoft these 2 PRs are still not merged
https://github.com/edx/credentials/pull/1408
https://github.com/edx/django-user-tasks/pull/176

[2021-12-15 10:33] Jawayria commented on #17
@NeOneSoft can you please create a PR to replace Django-rest-swagger in [commerce-coordinator](https://github.com/edx/commerce-coordinator) as well.

[2021-12-15 18:10] natabene commented on #69
Decided to deprecate, effort tracked in https://openedx.atlassian.net/browse/DEPR-173. Closing this ticket.

[2021-12-15 18:10] #69 closed

[2022-01-14 11:03] UsamaSadiq commented on #35
`django-model-utils` version [4.2.0](https://pypi.org/project/django-model-utils/4.2.0/) has been released with `Django 3.2` support so this issue can be closed now.

[2022-01-14 11:03] #35 closed

[2022-01-14 11:04] UsamaSadiq commented on #35
@kasittig Thanks for your efforts on this issue. Please let me know if there is anything further to do on this issue.

[2022-01-14 11:07] UsamaSadiq commented on #68
@ghassanmas both https://github.com/edx/upgrades/issues/35 and https://github.com/edx/upgrades/issues/14 have been closed now with `Django 3.2` support. Please let me know if we can now continue working on `edx/ubcpi` upgrade since the blockers have been resolved now.
Thanks.

[2022-01-14 11:24] UsamaSadiq commented on #68
[edx/ubcpi](https://github.com/edx-unsupported/ubcpi) has now been archived since the upstream repo is being used now in edX.
@ghassanmas thanks for your efforts on this. I'll close this issue now since it has been completed.

[2022-01-14 11:24] #68 closed

[2022-01-14 11:33] #67 closed

[2022-01-14 11:36] UsamaSadiq commented on #61
@natabene since the `edx/ubcpi` has now been archived and we are using its upstream repo so I'll mark this issue as `Done` and close this.

[2022-01-14 11:38] #61 closed

[2022-01-14 12:00] UsamaSadiq commented on #58
Hi @giovannicimolin Is there any progress on this issue or any plan in working for this issue? Please let us know if you need any help in finishing this up.
Thanks.

[2022-01-14 12:06] UsamaSadiq commented on #54
Hi @BbrSofiane
Is there any update available on this issue? Please let us know if you'll be able to work on it or if you need any help in it.
Thanks.

[2022-01-14 12:13] #53 closed

[2022-01-14 14:48] arbrandes commented on #46
@UsamaSadiq, unfortunately OpenCraft hasn't been able to prioritize this, as they don't use Swift anymore, and won't for the foreseeable future.  I'm thus unassigning myself, in the hopes that somebody that actually uses it picks it up.

[2022-01-14 21:55] giovannicimolin commented on #58
@UsamaSadiq @natabene Dua to a mistake in planning, I ended up not planing time for this for the current sprint (Jan 12-25), so I won't be able to replace the library on short notice. Feel free to reassign this work if it's urgent.

The original library was abandoned, then someone forked it and started maintaining it (https://github.com/FJNR-inc/dry-rest-permissions - even changed the link from Dj

[2022-01-14 22:00] giovannicimolin commented on #46
I was just looking around and found that there's a maintained fork of the original repo here: https://github.com/solarmonkey/django-storage-swift

Might work as a drop-in replacement.

[2022-01-17 12:18] UsamaSadiq commented on #33
Hi @ericfab179
Thanks for your effort on this. I'll mark this as done and close the issue now.

[2022-01-17 12:18] #33 closed

[2022-01-17 12:47] UsamaSadiq commented on #30
Hi @mariajgrimaldi
Thanks for your effort on this. Would you be able to create a PR in `openedx/blockstore` to remove the `djangorestframework-expander` from the requirements? Since it isn't being used, we should close this issue after removing it from the dependencies.

[2022-01-17 13:03] UsamaSadiq commented on #23
`Django-braces` [1.15.0](https://github.com/brack3t/django-braces/releases/tag/v1.15.0) was released with `Django 3.2` support which is now being [used](https://github.com/openedx/edx-analytics-dashboard/blob/c776647768d3bb75417c9f5d4c4970dd0c7bee1d/requirements/base.txt#L49) in `openedx/edx-analytics-dashboard`.
Marking this as Done and closing the issue now.
@magajh thanks for your help on this

[2022-01-17 13:03] #23 closed

[2022-01-17 13:11] UsamaSadiq commented on #22
As per the [discussion](https://github.com/edx/upgrades/issues/21#issuecomment-915869896), it looks like `django-environ2` was dropped in favour of `django-environ` and `django-environ` now has `Django 3.2` support as well. I would like to reopen this issue for now to replace `django-environ2` with `django-environ`. For reference the PR https://github.com/openedx/blockstore/pull/128 can be referen

[2022-01-17 13:13] UsamaSadiq commented on #22
@shimulch  since you worked on this issue before, would you like to pick this up again to replace `django-environ-2` with `django-environ`?

[2022-01-17 13:14] mariajgrimaldi commented on #30
I'm on it! @UsamaSadiq

[2022-01-17 13:15] UsamaSadiq commented on #21
@BbrSofiane thanks for your help on this issue. After reviewing the changes, I'll now close this issue.

[2022-01-17 13:15] #21 closed

[2022-01-17 13:33] UsamaSadiq commented on #10
Hi @MaferMazu looks like the version [django-sekizai==2.1.0](https://github.com/django-cms/django-sekizai/releases/tag/2.1.0) with `Django 3.2` support was released soon after you created the issue but it wasn't updated.
Thanks a lot for your efforts on this issue. I'll close this issue now.

[2022-01-17 13:33] #10 closed

[2022-01-17 13:40] UsamaSadiq commented on #8
New version [django-oauth-toolkit==6.0.0](https://github.com/jazzband/django-oauth-toolkit/releases/tag/1.6.0) with `Django 3.2` support was released a month ago.
@idegtiarov thanks a lot for your efforts in keeping track of this change and pushing for new release.

[2022-01-17 13:40] #8 closed

[2022-01-17 13:48] UsamaSadiq commented on #5
@jignaciopm Thanks for helping out on this issue. Would you please point to any discussion or merge request that you opened for the discussion with the maintainers? I can't seem to find any work in the GitLab [repo](https://gitlab.com/localmed/django-method-override).
Am I looking in the right place for the updates?

[2022-01-17 15:18] mariajgrimaldi commented on #30
PR: https://github.com/openedx/blockstore/pull/150

[2022-01-18 06:42] UsamaSadiq commented on #30
Thanks @mariajgrimaldi. I'll get the review on this PR and will update you soon.

[2022-01-19 03:30] natabene commented on #46
@UsamaSadiq What do you think we should do?

[2022-01-21 15:17] NeOneSoft commented on #17
@Jawayria sorry about my delay to answer, I have been a little bit busy and I would like to know  if you can help me with this repo please,  commerce-coordinator

[2022-01-24 21:07] mariajgrimaldi commented on #39
Hey there. I've got good news! django-classy-tags has a new release! [v3.0.0](https://github.com/django-cms/django-classy-tags/commit/ab1d10e2cd50e8d58400b3cf9c87e39627357a21)

[2022-01-25 02:01] natabene commented on #39
@mariajgrimaldi  Thank you! Closing this issue. CC @Jawayria @awais786

[2022-01-25 02:01] #39 closed

[2022-01-25 15:24] jmbowman commented on #72
Afraid there was some confusion here, we're actually using a fork of this in the openedx GitHub org: https://github.com/openedx/RateXBlock .  The PR above should definitely help, I'm hoping it's a simple matter of applying those changes to our fork. https://openedx.atlassian.net/browse/BOM-3200 should cover that, so I'll go ahead and close this issue.

[2022-01-25 15:24] #72 closed

[2022-01-26 07:12] UsamaSadiq commented on #30
Hi @mariajgrimaldi thanks for your efforts. The PR has been reviewed and merged so I'll mark this issue as done.

[2022-01-26 07:12] #30 closed

[2022-02-11 15:52] UsamaSadiq commented on #76
Hi @Jacatove thanks for your efforts on the issue. Your PR has been merged. Since it is only a testing dependency so it'll be removed when merging the upgrade branch to master hence you won't need to create separate PR for that.

I'll mark this issue as done. Thanks.

[2022-02-11 15:52] #76 closed

[2022-02-14 20:09] #25 closed

[2022-02-16 14:41] giovannicimolin commented on #58
@natabene Picking this up again.

[2022-03-03 20:48] giovannicimolin commented on #58
@natabene Just a gently nudge: this is ready for review.
https://github.com/openedx/course-discovery/pull/3297

[2022-03-24 19:26] giovannicimolin commented on #58
@natabene PR merged :)

[2022-03-25 07:41] UsamaSadiq commented on #58
@giovannicimolin Thanks for your efforts on this issue. I'll close this issue now.

[2022-03-25 07:44] #58 closed

[2022-04-06 10:34] #73 closed

[2022-04-07 09:36] UsamaSadiq commented on #43
PR has been merged and the updated version is being used in course-discovery now.
@ghassanmas Thanks for your efforts on this.

[2022-04-07 09:36] #43 closed

[2022-04-27 18:26] johnnagro commented on #1
[inform] a newer maintained fork with Django 4.0 support now exists

- https://github.com/orcasgit/django-fernet-fields/issues/28#issuecomment-1000793198
- https://github.com/yourlabs/djfernet

[2022-04-28 18:31] johnnagro commented on #1
leaving a note here for future django 4 upgrade work. a new fork of django-fernet-fields called [djfernet](https://pypi.org/project/djfernet) supports django 4, is backwards compatible with existing settings/data (>= 0.8.0), and is published in pypi

https://github.com/orcasgit/django-fernet-fields/issues/28#issuecomment-1000793198

[2022-05-22 20:51] jmbowman opened #79 "Migrate eslint-config-edx"
eslint-config-edx has been deprecated but it is still being used by many of our legacy frontends, including edx-platform, unfortunately.  So we need to migrate this package by removing its usages.

@aht007 has already started this work in https://2u-internal.atlassian.net/browse/BOM-3047 (which is private unless you have a 2U Jira account, there's an outdated public copy at https://openedx.atlassi

[2022-05-23 02:23] jmbowman opened #80 "Assist Arbi-BOM squad with Node 16 upgrade"
The Arbi-BOM squad is most of the way through helping implement a major upgrade of the Open edX platform from Node 12 to Node 16, but there is still a long tail of tasks needed to finish this up (resolving a few CI problems, dropping Node 12 support in assorted repositories, finish migrating to `@edx/browserslist-config`, etc.)  Reach out to @Jawayria or @awais786 to determine the best way to assi

[2022-05-24 12:26] Jawayria commented on #80
@jmbowman I've updated the status of the PRs on [Node 16 Upgrade & Shared Browserslist Config](https://docs.google.com/spreadsheets/d/1fduFbAxIbckiwHKNCtc41ImAL_CFIl9hZcC4AjDkuvI/edit#gid=0) spreadsheet that you mentioned in the description and also updated the [Node 16 upgrade status doc](https://docs.google.com/spreadsheets/d/1zY7UJAPBHbPBwOhuWJKM5oBSBSQJ1bXzc1HB8cztqbA/edit#gid=1094844783) that

[2022-05-30 12:14] BilalQamar95 commented on #79
- [ ] Migrate eslint-config-edx for edx-proctoring
- [ ] Migrate eslint-config-edx  for edx-analytics-dashboard

[2022-06-02 14:06] BilalQamar95 opened #81 "Replace PhantomJS with Headless Chromium in edx-proctoring"
Unit tests will fail after eslint upgrade, need to replace PhantomJS with Headless Chromium for smooth execution of unit tests after eslint migration for [edx-proctoring)](https://github.com/openedx/edx-proctoring)

[2022-06-02 15:17] jmbowman commented on #80
Summarizing status from a discussion this morning: we believe all necessary PRs for this have been created, and we're just waiting for them all to be merged and deployed.  I'll go ahead and close this, and we can create new issues if we find any tasks that still need to be done.

[2022-06-15 03:23] jmbowman opened #82 "Add edx-platform static assets CI checks"
After we removed the last of the a11y tests, edx-platform was left without any CI checks that actually perform full static asset collection and optimization (the JS tests don't do this).  There was at least one case recently where this would have caught a bug that ended up taking much longer to identify and fix, so we'd like to introduce a check that basically just runs the paver task to update st

[2022-06-22 14:31] adamstankiewicz opened #83 "Use Node 16 in translation-jobs.yml"

[2022-06-24 08:24] BilalQamar95 opened #84 "#252"

[2022-06-24 08:24] #84 closed

[2022-06-25 11:36] #82 closed

[2022-10-18 18:17] hurtstotouchfire commented on #80
FYI @jmbowman we've determined that the work required to upgrade Credentials to Node 16 is still a non-trivial amount. We're tracking that work here: https://github.com/openedx/credentials/issues/1791